<footer class="footer">
	<div class="section-inner">
		<div class="clearfix">
			<h1 class="pull-left">
				<a href="./index.html" class="img-btn">
					<img src="./img/common/logo-footer.png" alt="株式会社マミィ">
				</a>
			</h1>
			<div class="pull-right mb-20">
				<div class="clearfix mb-10">
					<p class="pull-left tel num">
						<i class="text-pink fa fa-phone" aria-hidden="true"></i>
						<span class="tel-link">
							<img src="./img/common/tel-footer.png" alt="048-776-3207">
						</span>
					</p>
					<p class="pull-left num">
						<i class="text-pink fa fa-fax" aria-hidden="true"></i>
						<img src="./img/common/fax-footer.png" alt="048-776-8259">
					</p>
				</div>
				<p class="text-right text-13">
					〒362-0008　埼玉県上尾市上平中央2-2-28
				</p>
			</div>
		</div>
	</div>
	<div class="bottom-footer">
		<div class="section-inner">
			<nav class="nav-footer mb-10">
				<ul>
					<li><a href="./index.html">ホーム</a></li>
					<li><a href="./chemdry.html">ケムドライシステム</a></li>
					<li><a href="./mos.html">MOS工法</a></li>
					<li><a href="./case.html">施工事例</a></li>
					<li><a href="./service.html">サービス・料金案内</a></li>
					<li><a href="./company.html">会社案内</a></li>
					<li><a href="./contact.html">お問い合わせ</a></li>
				</ul>
			</nav>
			<p class="text-13 text-center">
				© 2017 株式会社マミィ
			</p>
		</div>
	</div>
</footer>
</body>
</html>