<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/validationEngine.jquery.css">
<link rel="stylesheet" href="css/wideslider.css">
<link rel="stylesheet" href="css/style.css">
<script src="js/jquery.min.js"></script>
<script src="js/jquery.matchHeight-min.js"></script>
<script src="js/modules.js"></script>
<script src="js/wideslider.js"></script>
<script src="js/jquery.validationEngine.js"></script>
<script src="js/jquery.validationEngine-ja.js"></script>
<% if(page == 'index'){ %>
	<%# メインビジュアルスライダー用 %>
	<script src="js/slick.min.js"></script>
	<link rel="stylesheet" href="css/slick.css">
	<link rel="stylesheet" href="css/slick-theme.css">
	<script>
		$(function(){
			$('.slider').slick({
				arrows: false,
				autoplay: true,
				autoplaySpeed: 1200,
				speed: 1000,
				fade: true,
				dots: true 
			});
		});
	</script>
<% } %>
<% if(page == 'contact'){ %>
	<%# contactページ　フォーム用バリデーション & 住所自動入力 %>
	<script>
		$(function(){
			$("#mail-form").validationEngine('attach', {
				promptPosition:"topLeft"
			});
		});
	</script>
<% } %>
<script type="text/javascript">
	var scrolltop_manual_start = true;
</script>
<script src="js/script.js"></script>
<script type="text/javascript">
	scrolltotop.controlHTML = '<img src="./img/common/pagetop.png" style="width:47px; height:47px" />';
	scrolltotop.init();
</script>

<%# IE用 %>
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
<!--[if lt IE 9]>
<script src="js/html5shiv.min.js"></script>
<script src="js/selectivizr.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->