<header class="header bg-stripe-pink">
  <div class="section-inner top-header">
    <div class="clearfix">
      <div class="left-header pull-left">
        <h1 class="logo-header pull-left">
          <a href="./index.html" class="img-btn">
            <img src="./img/common/logo-header.png" alt="株式会社マミィ">
          </a>
        </h1>
        <p class="logo pull-left">
          <img src="./img/common/logo-chemmos.png" alt="ChemDry・MOS工法">
        </p>
        <p class="banner pull-left">
          <a href="#" target="_blank" class="img-btn"><img src="./img/common/banner-header.jpg" alt="清掃道具通信販売"></a>
        </p>
      </div>
      <div class="right-header pull-right">
        <p class="num-tel-header text-right">
          <i class="text-pink fa fa-phone" aria-hidden="true"></i>
          <span class="tel-link">
            <img src="./img/common/num-tel-header.png" alt="048-776-3207">
          </span>
        </p>
        <p class="deco-tel-header text-right">
          <img src="./img/common/text-tel-header.png" alt="受付時間9：00～20：00年中無休">
        </p>
      </div>
    </div>
  </div>

  <nav class="g-nav">
    <ul class="section-inner pie-clearfix">
      <li class="nav-01 pull-left">
        <a href="./chemdry.html" class="nav-list <% if(page == 'chemdry'){ %>active<% } %>">
         ケムドライシステム
       </a>
     </li>
     <li class="nav-02 pull-left">
      <a href="./mos.html" class="nav-list <% if(page == 'mos'){ %>active<% } %>">
        MOS工法
      </a>
    </li>
    <li class="nav-03 pull-left">
      <a href="./service.html" class="nav-list <% if(page == 'service'){ %>active<% } %>">
        サービス・料金一覧
      </a>
    </li>
    <li class="nav-04 pull-left">
      <a href="./case.html" class="nav-list <% if(page == 'case'){ %>active<% } %>">
        施工事例
      </a>
    </li>
    <li class="nav-05 pull-left">
      <a href="./company.html" class="nav-list <% if(page == 'company'){ %>active<% } %>">
        会社案内
      </a>
    </li>
    <li class="nav-06 pull-left">
      <a href="./contact.html" class="nav-list <% if(page == 'contact'){ %>active<% } %>">
        お問い合わせ
      </a>
    </li>
  </ul>
</nav>
</header>
<% if(page != 'index'){ %>
  <div class="pagetitle">
    <div class="section-inner">
      <p>
       <img src="./img/common/pagetitle-<%= page%>.png" alt="<%= text %>">
     </p>
   </div>
 </div>
 <% } %>
