<div class="side pull-left">
	<aside class="module">
		<h3 class="mb-10">
			<img src="./img/common/title-side-service.png" alt="サービス別施行事例">
		</h3>
		<ul class="list-side">
			<li>
				<!--カテゴリーリンク-->
				<a href="#">
					ソファー・椅子クリーニング
				</a>
			</li>
			<li>
				<a href="#">
					catogory title
				</a>
			</li>
			<li>
				<a href="#">
					catogory title
				</a>
			</li>
			<li>
				<a href="#">
					catogory title
				</a>
			</li>
			<li>
				<a href="#">
					catogory title
				</a>
			</li>
			<li>
				<a href="#">
					long title long titile catogory title
				</a>
			</li>
		</ul>
	</aside>
</div>