//ボタンベース
//button-sizeと併用
//$col: フォントカラー,$col-bg:背景色(ボーダー色), $border: 枠ありなし, $anim:アニメ秒数.3sなど or false
@mixin button-base($col:#fff, $col-bg:#00f, $border:false, $anim:false){
  display: inline-block;
  box-sizing: border-box;
  font-weight: bold;
  text-align: center;
  color: $col;
  @if $anim {
    transition: all $anim linear; 
  }
  @if $border {
    border: 1px solid $col-bg;
    color: $col-bg;
    &:hover{
      background: $col-bg;
      color: $col;
    }
  } @else {
    background: $col-bg;
    border: none;
    &:hover{
      opacity: .6;
      color: $col;
    }
  }
}

//ボタンサイズ
//button-baseが必要
//$h: ボタンの高さ, $w: 横幅(デフォルトは$w-p任せ),$w-p: 横パディング, $border-w: 枠線太さ, $radius: 角丸値　"round"なら丸っこいやつ
@mixin button-size($h:40px, $w:false, $w-p:20px, $border-w:false, $radius:false){
  height: $h;
  width: if($w,$w,auto);
  padding: 0 $w-p;
  @if $border-w {
    border-width: $border-w;
    line-height: $h - ($border-w*2);
  } @else {
    line-height: $h;
  }
  @if $radius == "round" {
    border-radius: $h / 2;
  }@else{
    border-radius: $radius
  }
}

//角折れボタン
//button-baseとbutton-sizeが必要
//$col:折れている個所の色,$col-bg:折れた箇所の空白部分(周りの色),$w:折れ幅,$shadow:影ありなし
@mixin button-note($col:#999, $col-bg:#fff, $w:16px, $pos:"bottom-left", $shadow: true){
  position: relative;
  overflow:hidden;
  &:before {
    content:"";
    position:absolute;
    border-style:solid;
    background:$col; /* For Opera when also applying a border-radius */
    display:block;
    width:0; /* Only for Firefox 3.0 damage limitation */
    @if $pos == "top-right"{
      top: 0;
      right: 0;
      border-width:0 $w $w 0;
      border-color:$col-bg $col-bg $col $col;
      @if $shadow {box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);}
    }@else if $pos == "top-left"{
      top: 0;
      left: 0;
      border-width:$w $w 0 0;
      border-color:$col-bg $col $col $col-bg;
      @if $shadow {box-shadow:0 1px 1px rgba(0,0,0,0.3), 1px 1px 1px rgba(0,0,0,0.2);}
    }@else if $pos == "bottom-right"{
      bottom: 0;
      right: 0;
      border-width:0 0 $w $w;
      border-color:$col $col-bg $col-bg $col;
      @if $shadow {box-shadow:0px -1px 1px rgba(0,0,0,0.3), 1px -1px 1px rgba(0,0,0,0.2);}
    }@else if $pos == "bottom-left"{
      bottom: 0;
      left: 0;
      border-width:0 $w $w 0;
      border-color:$col $col $col-bg $col-bg;
      @if $shadow {box-shadow:0 -1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);}
    }
  }
}

//角折れ枠ボタン
//button-baseとbutton-sizeが必要
//$col:枠線,$col-bg:折れた箇所の空白部分(周りの色),$w:折れ幅,$border-w:枠幅
@mixin button-note-border($col:#999,$col-bg:#fff,$w:10px,$border-w:2px){
  position: relative;
  &:before{
    content:"";
    transform: rotate(45deg);
    position: absolute;
    right: - $w / 2;
    bottom: - $w / 2;
    width: $w;
    height: $w;
    background-color: $col-bg;
    border-left: $border-w solid $col;
  }
}

//文字光彩
//背景色がある場合くっきり見えるようにさせる
//$col:光彩色,$boke:光彩の大きさ
@mixin text-glow($col:#fff,$boke:1px){
  text-shadow: 0 0 $boke $col,
}
