//お問い合わせフォーム
@mixin mail-form($head-col: #ccc,$base-col: #fff,$border-col: #aaa){
  .form-row{
    border-bottom: 1px solid $border-col;
    background-color: $base-col;
    &:first-child{
      border-top: 1px solid $border-col;
    }
    &.multiline{
      background-color: $head-col;
      .form-content{
        background-color: $base-col;
      }
    }
    .radio-inline input{
      margin-top: 0.3em;
    }
    .radio-inline+.radio-inline {
        margin-right: 10px;
        margin-left: 0;
    }
    .form-head{
      position: relative;
      font-weight: bold;
      background-color: $head-col;
      padding-top: 10px;
      padding-bottom: 10px;
      label{
        margin-bottom: 0;
      }
      .req-mark{
        position: absolute;
        top: 12px;
        right: 10px;
        font-weight: normal;
        @include mq-custom($mq_sm) {
          top: 20px;
        }
      }
      @include mq-custom($mq_sm) {
        min-height: 60px;
        padding-bottom: 18px;
        padding-top: 18px;
      }
    }
    .form-content{
        padding-top: 10px;
        padding-bottom: 10px;
      &.radio-content{
        padding-top: 10px;
        @include mq-custom($mq_sm) {
          padding-top: 18px;
        }
        &.use-caution{
          padding-top: 10px;
          @include mq-custom($mq_sm) {
            padding-top: 10px;
            padding-bottom: 0;
          }
          .caution{
            margin-bottom: 0;
            font-size: 0.8em;
            color: red;
          }
        }
      }
      .form-control {
        width: 100%;
        border-radius: 0;
        @include fontsize(14);
        @include mq-custom($mq_sm) {
          @include fontsize(16);
          line-height: 40px;
          height: 40px;
        }
      }
      textarea.form-control{
        line-height: 1.48;
        height: auto;
      }
    }
  }
  .req-mark{
    display: inline-block;
    padding: 2px 5px;
    line-height: 1;
    border-radius: 3px;
    color: #fff;
    @include fontsize(10);
    background-color: red;
    @include mq-custom($mq_sm) {
      @include fontsize(12);
    }
  }
  .privacy-box{
    margin: 20px 0;
    @include mq-custom($mq_sm) {
      margin: 30px 0;
    }
    h4{
      font-weight: bold;
      margin: 0;
      margin-bottom: 10px;
      @include mq-custom($mq_sm) {
        margin-bottom: 20px;
      }
    }
    .privacy-text{
      height: 120px;
      margin-bottom: 10px;
      overflow-y: scroll;
      border: 1px solid $border-col;
      background-color: #fff;
      padding: 5px;
      @include fontsize(10);
      p,h5{
        margin: 0;
        margin-bottom: 5px;
      }
      @include mq-custom($mq_sm) {
        height: 180px;
        margin-bottom: 20px;
        padding: 10px;
        @include fontsize(12);
          p,h5{
          margin-bottom: 10px;
        }
      }
    }
    .agree-box{
      text-align: center;
      span{
        font-weight: bold;
        @include fontsize(14);
      }
    }
  }
}