
.clearfix {
  overflow: hidden;
  zoom: 1;
}
.pie-clearfix{
  *zoom: 1;
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.lh-reset{
  line-height: 1;
}
.lh-lg{
  line-height: 2;
}
.ls-lg{
  letter-spacing: 0.15em;
}
.section-lg{
  padding: 50px 0;
}
.section-inner {
  width: $main-width;
  margin: 0 auto;
}
.text-11{
  @include fontsize(11);
}
.text-12{
  @include fontsize(12);
}
.text-13{
  @include fontsize(13);
}
.text-14{
  @include fontsize(14);
}
.text-16 {
  @include fontsize(16);
}
.text-18 {
  @include fontsize(18);
}
.text-20 {
  @include fontsize(20);
}
.text-22 {
  @include fontsize(22);
}
.text-24 {
  @include fontsize(24);
  font-weight: bold;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-normal{
  font-weight: normal;
}
.text-bold{
  font-weight: bold;
}
.text-indent{
  padding-left: 1em;
  text-indent: -1em;
}