<%
var text = "マミィについて";
var page ="about";
var title = "マミィについて｜株式会社マミィ｜ケムドライシステム施工のカーペット・ソファカーシートクリーニング";
var description = "株式会社マミィは、カーペット・ソファ・カーシート等をケムドライシステムでキレイにクリーニングします。また、ビルの定期清掃や石材、木材などの外壁清掃、ハウスクリーニングなど、暮らしにかかわる清掃はマミィへお任せ下さい！";
%>
<% include common/_head %>
<% include common/_header %>
<main>
	<div class="bg-stripe-pink section-lg">
		<div class="section-inner">
			<p class="mb-20 text-center">
				<img src="./img/common/lead-about-01.png" alt="ソファやカーペットからビル清掃まで！">
			</p>
			<p class="mb-30 text-center">
				<img src="./img/common/lead-about-02.png" alt="身の回りの清掃・クリーニングはマミィへお任せ下さい！">
			</p>
			<div class="bg-about-01 mb-40 text-center text-16">
				<p>
					株式会社マミィは埼玉県を中心に個人様、法人様向けにクリーニング、清掃業務を行っております。<br>
					ケムドライシステムとMOS工法による専門クリーニングにより<br>
					ソファ、椅子、カーペット、車のシートなどの繊維素材のクリーニングや外壁の清掃、<br>
					原状回復などあらゆるご要望に柔軟にご対応致します！<br>
					その他、清掃関連用品のは販売やビル、マンション清掃業務やエアコンクリーニング、遺品整理も承ります。<br>
					ご相談からお見積り依頼までまずはお気軽にお問い合わせ下さい！
				</p>
			</div>
			<div class="clearfix mb-60">
				<div class="pull-left harf text-center">
					<p class="mb-10"><img src="./img/common/img-about-01-01.png" alt="ChemDry & MOS工法"></p>
					<p>
						株式会社マミィは<br>
						ケムドライシステム・MOS工法の施工店です。
					</p>
				</div>
				<div class="pull-left harf text-center">
					<p class="mb-10"><img src="./img/common/img-about-01-02.png" alt="しつこい汚れもOK!"></p>
					<p>
						しつこい汚れやペットのシミなどもOK！<br>
						赤ワインなどの赤い染みも取り除けます！
					</p>
				</div>
			</div>
			<section class="box-section">
				<h1 class="title-about-02 mb-60 text-center">
					<img src="./img/common/title-about-02.png" alt="マミィが皆様から選ばれる3つの理由">
				</h1>
				<section class="section-about clearfix bb">
					<div class="pull-left text left">
						<h1 class="mb-30">
							<img src="./img/common/title-about-02-01.png" alt="最短当日！スピード対応！">
						</h1>
						<p class="text-14 mb-30">
							大切なソファーやカーペットを汚してしまった、早く綺麗にしたい！<br>
							そんな場合でも最短当日対応でお伺いさせていただきます。<br>
							埼玉県を中心に関東エリアで幅広くご対応させていただきますが、ご要望があれば関東以外でもお伺いさせていただきます！<br>
							様々な繊維素材に対応するのはもちろん、皮、レザー、ビニール素材などの素材も対応可能です。汚れてしまったけどクリーニングできるのかわからない方でもまずは一度ご相談下さい！<br>
							状況に応じて柔軟にご対応させていただきます！
						</p>
						<p class="text-center">
							<a href="./case.html" class="btn-normal">
								<i class="fa fa-angle-right" aria-hidden="true"></i>マミィの施工実績を見る
							</a>
						</p>
					</div>
					<div class="pull-left img">
						<p>
							<img src="./img/common/img-about-02-01.png" alt="スピード対応！">
						</p>
					</div>
				</section>
				<section class="section-about clearfix bb">
					<div class="pull-left img left">
						<p>
							<img src="./img/common/img-about-02-02.png" alt="専用のクリーニングシステムで綺麗に！">
						</p>
					</div>
					<div class="pull-left text">
						<h1 class="mb-30">
							<img src="./img/common/title-about-02-02.png" alt="専用のクリーニングシステムで綺麗に！">
						</h1>
						<p class="text-14 mb-30">
							株式会社マミィはアメリカ生まれのインテリアクリーニング「ケムドライシステム」と汚れに合わせて対応するMOS工法の施工店です。通常のクリーニングでは取れないようなインクや油、ガムなどのしつこい汚れやペットのシミなどはもちらろん、石材や木材などのあきらめていた汚れも綺麗にします。またケムドライシステムは天然成分100％で環境・人体に安全なのでペットやお子様がいらっしゃるご家庭でも安心してご利用いただけます。さらに生地を傷めたり、縮ませたりすることもなく乾燥スピードも早いので様々な繊維に対応致します。
						</p>
						<p class="text-center">
							<a href="./chemdry.html" class="btn-normal">
								<i class="fa fa-angle-right" aria-hidden="true"></i>ケムドライシステムについて
							</a>
						</p>
					</div>
				</section>
				<section class="section-about clearfix">
					<div class="pull-left text left">
						<h1 class="mb-30">
							<img src="./img/common/title-about-02-03.png" alt="幅広いサービス提供">
						</h1>
						<p class="text-14 mb-30">
							ソファやカーペットのクリーニングのみではなく、ビル、マンション等の定期清掃や遺品整理、エアコンクリーニング、石材・木材の外壁清掃、原状回復等幅広いサービスで皆様のご要望にお応え致します！<br>
							あきらめていた汚れもまずはご相談ください。
						</p>
						<p class="text-center">
							<a href="./service.html" class="btn-normal">
								<i class="fa fa-angle-right" aria-hidden="true"></i>サービス・料金一覧を見る
							</a>
						</p>
					</div>
					<div class="pull-left img">
						<p>
							<img src="./img/common/img-about-02-03.png" alt="幅広いサービス提供">
						</p>
					</div>
				</section>
			</section>
		</div>
	</div>
	<div class="section-lg bg-yellow" id="faq">
		<div class="section-inner">
			
			<h1 class="mb-20 m-reset text-24 text-center">
				<img src="./img/common/title-qa.png" alt="Q&A">
			</h1>
			<p class="m-reset mb-20 text-center text-16">
				お客様からよく頂くご質問にお応えいたしました。ご依頼の際にご参考ください。
			</p>

			<section class="section-faq mb-10">
				<p class="btn-faq">
					スポット作業と日常作業ではどのような違いがありますか？
				</p>
				<div class="content-faq bg-white corner-10">
					<p class="answer-faq">
						スポット作業は汚れてから（肉眼で汚れが目立ってきたら）行ないますので作業頻度は少なくなります。しかしクリーニングをするまでの間の美観は損なわれます。<br>
						そこでカーペットのパイルの中に土砂等の汚れが大量に蓄積された状態で歩行しますと土砂がサンドペーパーの役目を果たし繊維が徐々に擦り切れて磨耗してしまいます。<br>
						そうなると汚れを除去しても光の乱射によってその部分が汚れているように色が変わって見えてしまいます。そのようなことから常に土砂を除去し、ケアしていくことが美観維持・長期維持に繋がっていきます。
					</p>
				</div>
			</section>

			<section class="section-faq mb-10">
				<p class="btn-faq">
					コーヒー・お茶以外の染みについてはどうですか？
				</p>
				<div class="content-faq bg-white corner-10">
					<p class="answer-faq">
						染みの種類に応じて専門の染み取り剤を用意しております（例えばガム・インク・サビ等）。
					</p>
				</div>
			</section>

			<section class="section-faq mb-10">
				<p class="btn-faq">
					土、日、祝日など曜日によて、料金は違うのでしょうか？
				</p>
				<div class="content-faq bg-white corner-10">
					<p class="answer-faq">
						料金は変りません。365日、同じ料金で承っております。ご相談は無料ですので、どうぞお気軽にお問い合わせ下さいませ。
					</p>
				</div>
			</section>

			<section class="section-faq mb-10">
				<p class="btn-faq">
					コーヒー・お茶の染みは除去できますか？
				</p>
				<div class="content-faq bg-white corner-10">
					<p class="answer-faq">
						専用の染み取り剤（ステインアウト）を使用し除去することができます。しかし熱いコーヒー・お茶は繊維の染色工程と同じように染色されてしまいます。また冷たくてもこぼしてから時間が経過すればするほど染まってしまいます。完全に染まってしまったものは除去不可能になります。
					</p>
				</div>
			</section>

			<section class="section-faq mb-10">
				<p class="btn-faq">
					ケムドライシステムではどのような方式でクリーニングしますか？
				</p>
				<div class="content-faq bg-white corner-10">
					<p class="answer-faq">
						ドレー方式、簡易方式、パワーベース方式、パワーヘッド方式がありますが作業場所、汚れ状況等によってそれにあった工法でクリーニングすることができます（それぞれの方式は別紙「ケムドライシステム工法別作業手順」を参照して下さい）。
					</p>
				</div>
			</section>

			<section class="section-faq mb-10">
				<p class="btn-faq">
					OAフロア（二重床）のクリーニングは可能でしょうか？
				</p>
				<div class="content-faq bg-white corner-10">
					<p class="answer-faq">
						水の使用量が少ないのとカーペットの表面に霧状にスプレーされるため床下に水分が浸透することはまずありません。
					</p>
				</div>
			</section>

			<section class="section-faq mb-10">
				<p class="btn-faq">
					クリーニングによるカーペットの縮みは？
				</p>
				<div class="content-faq bg-white corner-10">
					<p class="answer-faq">
						水の使用量が少ないため縮みの心配がありません。そのためウールのじゅうたん等でも安全にクリーニングできます。
					</p>
				</div>
			</section>

			<section class="section-faq mb-10">
				<p class="btn-faq">
					クリーニング中の音は？
				</p>
				<div class="content-faq bg-white corner-10">
					<p class="answer-faq">
						通常作業、日常メンテナンスではバキューム（掃除機）よりも静かな作業になります。
					</p>
				</div>
			</section>

			<section class="section-faq mb-10">
				<p class="btn-faq">
					クリーニング中の臭いはありますか？
				</p>
				<div class="content-faq bg-white corner-10">
					<p class="answer-faq">
						通常のクリーニングで使用する洗浄液は無臭であるため臭いはありません。しかし特殊な染み、汚れを除去する場合には多少臭いが伴うこともあります。
					</p>
				</div>
			</section>

			<section class="section-faq mb-10">
				<p class="btn-faq">
					乾燥時間は？
				</p>
				<div class="content-faq bg-white corner-10">
					<p class="answer-faq">
						通常作業では約1時間、日常メンテナンスで行なう簡易作業では15分ほどで乾燥します。<br>
						これは水の使用量が少ない（80～180ml／m2）のと炭酸の気化作用により水分の蒸発が速くなるためです。
					</p>
				</div>
			</section>

			<section class="section-faq mb-10">
				<p class="btn-faq">
					通常の洗剤と何が違うの？
				</p>
				<div class="content-faq bg-white corner-10">
					<p class="answer-faq">
						通常の洗剤は界面活性剤が含まれているためきれいになりますが洗剤分がカーペットに残留するため（残留洗剤）その残留分のベタつきが汚れを呼び寄せてしまいクリーニングしても汚れやすくなるというデメリットがあります。その洗剤分を回収するためには非常に多くの水と強力なバキューム力また労力が必要となりますので完全に回収するのは難しいと思われます。<br>
						ケムドライシステムの炭酸洗浄液には界面活性剤が含まれておりませんのでクリーニング後も美しさを保つことができます。
					</p>
				</div>
			</section>

			<section class="section-faq mb-10">
				<p class="btn-faq">
					炭酸でどのように汚れを落とすのですか？
				</p>
				<div class="content-faq bg-white corner-10">
					<p class="answer-faq">
						炭酸の発泡する力（爆発力）によって繊維に付着している汚れを引き剥がし、汚れを炭酸の泡に包み込んで上へと持ち上げるからです。<br>
						炭酸の細かい気泡がビーズ（汚れ）にまとわりついて上に持ち上がっているイメージです。
					</p>
				</div>
			</section>

			<section class="section-faq mb-10">
				<p class="btn-faq">
					ケムドライシステムとは？
				</p>
				<div class="content-faq bg-white corner-10">
					<p class="answer-faq">
						炭酸の気泡を利用した繊維製品専門(カーペット、イス、ソファー等)のクリーニングシステムです。
					</p>
				</div>
			</section>

			<section class="section-faq mb-10">
				<p class="btn-faq">
					ケムドライシステムはいつ頃どこで開発されたのですか？
				</p>
				<div class="content-faq bg-white corner-10">
					<p class="answer-faq">
						25年ほど前にアメリカで開発されました。
					</p>
				</div>
			</section>

			<section class="section-faq mb-10">
				<p class="btn-faq">
					ケムドライシステムではどのようなものをクリーニングすることができますか？
				</p>
				<div class="content-faq bg-white corner-10">
					<p class="answer-faq">
						カーペット、じゅうたん、布製ソファー・イス、ビニールレザーソファー・イス、ローパーテーション等のクリーニングができます。
					</p>
				</div>
			</section>

		</div>
	</div>
</main>
<% include common/_footer %>