<%
var text = "施工事例";
var page ="case";
var title = "施工事例｜株式会社マミィ｜ケムドライシステム施工のカーペット・ソファカーシートクリーニング";
var description = "株式会社マミィがこれまで施工した事例をご紹介いたします。カーペット・ソファ・カーシートを始めとしたケムドライシステムの施行例や外壁清掃やエアコンクリーニング等の様々な事例がご覧いただけます。";
%>
<% include common/_head %>
<% include common/_header %>
<main>
	<div class="bg-stripe-pink section-lg">
		<div class="section-inner clearfix">
			<% include common/_side %>		
			<div class="pull-left cont">
				<article class="box-cases box-section">
					<header class="header-cases">
						<h1>
							category title category title
						</h1>
					</header>
					<div class="content-cases">
						<p>
							カテゴリー説明文（html01）テキストを挿入して下さい。テキストを挿入して下さい。テキストを挿入して下さい。テキストを挿入して下さい。テキストを挿入して下さい。テキストを挿入して下さい。テキストを挿入して下さい。テキストを挿入して下さい。テキストを挿入して下さい。テキストを挿入して下さい。テキストを挿入して下さい。テキストを挿入して下さい。テキストを挿入して下さい。テキストを挿入して下さい。テキストを挿入して下さい。テキストを挿入して下さい。
						</p>

						<section class="list-cases">
							<!--アイテムタイトル 文字色と線色変更-->
							<h3 style="color: #4b7dba; border-color: #4b7dba;">
								ソファー清掃例（itemtitle）
							</h3>
							<div class="clearfix">
								<div class="left pull-left">
									<img src="./img/sample/img-sample-4x3.jpg" alt="sample">
								</div>
								<div class="right pull-left">
									<p>
										ソファー椅子クリーニングをローコストで実現しました！テキストソファー椅子クリーニングをローコストで実現しました！テキストソファー椅子クリーニングをローコストで実現しました！テキストソファー椅子クリーニングをローコストで実現しました！テキストソファー椅子クリーニングをローコストで実現しました！テキスト
									</p>
									<p class="text-center">
										<a href="./details.html" class="btn-min">
											<i class="fa fa-angle-right" aria-hidden="true"></i>詳しく見る
										</a>
									</p>
								</div>
							</div>
						</section>

						<section class="list-cases">
							<!--アイテムタイトル 文字色と線色変更-->
							<h3 style="color: #4b7dba; border-color: #4b7dba;">
								ソファー清掃例（itemtitle）
							</h3>
							<div class="clearfix">
								<div class="left pull-left">
									<img src="./img/sample/img-sample-4x3.jpg" alt="sample">
								</div>
								<div class="right pull-left">
									<p>
										ソファー椅子クリーニングをローコストで実現しました！テキストソファー椅子クリーニングをローコストで実現しました！テキストソファー椅子クリーニングをローコストで実現しました！テキストソファー椅子クリーニングをローコストで実現しました！テキストソファー椅子クリーニングをローコストで実現しました！テキスト
									</p>
									<p class="text-center">
										<a href="./details.html" class="btn-min">
											<i class="fa fa-angle-right" aria-hidden="true"></i>詳しく見る
										</a>
									</p>
								</div>
							</div>
						</section>

						<section class="list-cases">
							<!--アイテムタイトル 文字色と線色変更-->
							<h3 style="color: #4b7dba; border-color: #4b7dba;">
								ソファー清掃例（itemtitle）
							</h3>
							<div class="clearfix">
								<div class="left pull-left">
									<img src="./img/sample/img-sample-4x3.jpg" alt="sample">
								</div>
								<div class="right pull-left">
									<p>
										ソファー椅子クリーニングをローコストで実現しました！テキストソファー椅子クリーニングをローコストで実現しました！テキストソファー椅子クリーニングをローコストで実現しました！テキストソファー椅子クリーニングをローコストで実現しました！テキストソファー椅子クリーニングをローコストで実現しました！テキスト
									</p>
									<p class="text-center">
										<a href="./details.html" class="btn-min">
											<i class="fa fa-angle-right" aria-hidden="true"></i>詳しく見る
										</a>
									</p>
								</div>
							</div>
						</section>

						<section class="list-cases">
							<!--アイテムタイトル 文字色と線色変更-->
							<h3 style="color: #4b7dba; border-color: #4b7dba;">
								ソファー清掃例（itemtitle）
							</h3>
							<div class="clearfix">
								<div class="left pull-left">
									<img src="./img/sample/img-sample-4x3.jpg" alt="sample">
								</div>
								<div class="right pull-left">
									<p>
										ソファー椅子クリーニングをローコストで実現しました！テキストソファー椅子クリーニングをローコストで実現しました！テキストソファー椅子クリーニングをローコストで実現しました！テキストソファー椅子クリーニングをローコストで実現しました！テキストソファー椅子クリーニングをローコストで実現しました！テキスト
									</p>
									<p class="text-center">
										<a href="./details.html" class="btn-min">
											<i class="fa fa-angle-right" aria-hidden="true"></i>詳しく見る
										</a>
									</p>
								</div>
							</div>
						</section>
					</div>
					
					<div class="text-center">
						<!--ページング-->
						<div class="paging"><span class="current">1</span>
							<span><a href="#" class="paging-text">2</a></span>
							<span><a href="#" class="paging-text">3</a></span>
							<span><a href="#" class="paging-text">4</a></span>
							<span><a href="#" class="paging-text paging-next">&gt;</a></span>
						</div>
					</div>
				</article>
			</div>
		</div>
	</div>
</main>
<% include common/_footer %>