<%
var text = "施工技術";
var page ="chemdry";
var title = "ケムドライシステムとMOS工法の特徴｜株式会社マミィ｜カーペット・ソファカーシートクリーニング";
var description = "ケムドライシステムは全世界47カ国4100店以上が加盟している実績を持ち、環境・人体に安全なクリーニングシステムです。通常では落ちないしつこい汚れや臭いもケムドライシステムとMOS工法であれば綺麗に落とすことができます。";
%>
<% include common/_head %>
<% include common/_header %>
<main>
	<section class="section-chemdry bg-stripe-bio" id="chem">
		<div class="bg-chemdry chemdry">
			<div class="section-inner">
				<div class="box-title-chemdry text-center">
					<h1 class="mb-30">
						<img src="./img/common/logo-chemdry.png" alt="ChemDry">
					</h1>
					<p class="mb-30">
						<img src="./img/common/lead-chemdry.png" alt="全世界47カ国4,100店以上が加盟！">
					</p>
					<p>
						全米業界No.1世界40ヶ国で愛され、カーペットなら、300万m2以上の実績を持ちます。<br>
						環境・人体に安全な洗浄液を使用し、
						新しいクリーニング手法で分解した汚れを再び引きつける残留物を残しません。<br>
						いつまでも美しさが持続します。<br>
						わたしたちケムドライシステムのスタッフが
						様々なインテリア製品のクリーニングにお答えいたします。
					</p>
				</div>
				<section class="box-section">
					<h1 class="title-lined bio mb-30">
						<span><img src="./img/common/title-chemdry-01.png" alt="他社との比較"></span>
					</h1>
					<table class="table-chemdry mb-40">
						<thead>
							<tr>
								<th>
									&nbsp;
								</th>
								<th class="bio">
									ケムドライ
								</th>
								<th>
									他社（ウェット）
								</th>
								<th>
									他社（ドライ）
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>
									洗浄力（表面）
								</th>
								<td class="bio">
									非常に良い
								</td>
								<td>
									劣る
								</td>
								<td>
									非常に劣る
								</td>
							</tr>
							<tr>
								<th>
									洗浄力（内部）
								</th>
								<td class="bio">
									非常に良い
								</td>
								<td>
									劣る
								</td>
								<td>
									非常に劣る
								</td>
							</tr>
							<tr>
								<th>
									洗浄後
								</th>
								<td class="bio">
									綺麗になるため回復できない色褪せ・日焼け・こぼしシミの変色が逆に目立つことがある。
								</td>
								<td>
									残留洗剤により黄変が生じることがある。
								</td>
								<td>
									洗浄後、内部の汚れが浮き出てくることがある。
								</td>
							</tr>
							<tr>
								<th>
									素材のダメージ
								</th>
								<td class="bio">
									ケムドライ
								</td>
								<td>
									他社（ウェット）
								</td>
								<td>
									他社（ドライ）
								</td>
							</tr>
							<tr>
								<th>
									臭い
								</th>
								<td class="bio">
									ない
								</td>
								<td>
									ある
								</td>
								<td>
									ある
								</td>
							</tr>
						</tbody>
					</table>
					<div class="mb-30">
						<h1 class="text-center mb-20">
							<img src="./img/common/title-chemdry-02.png" alt="ケムドライが選ばれる理由">
						</h1>
						<table class="table-chemdry-02">
							<tbody>
								<tr>
									<th>
										<img src="./img/common/circle-chemdry-01.png" alt="短時間の乾燥">
									</th>
									<td>
										ケムドライシステムでクリーニングされたカーペットは約1時間で乾きます。<br>
										したがって、水分による家具や床へのダメージもなく、ホテル・レストラン・オフィスなどでもクリーニングに伴うアイドルタイムを生じることなく、すぐに通常の営業活動に入ることができるのです。
									</td>
								</tr>
								<tr>
									<th>
										<img src="./img/common/circle-chemdry-02.png" alt="天然成分100%">
									</th>
									<td>
										ケムドライシステムは天然成分100％の洗浄液でカーペットをクリーニングします。<br>環境・人体に優しい洗浄液です。<br>
										ケムドライシステムなら、クリーニング後のカーぺットで赤ちゃんやペットが遊んでも大丈夫です。
									</td>
								</tr>
								<tr>
									<th>
										<img src="./img/common/circle-chemdry-03.png" alt="美しさの持続">
									</th>
									<td>
										ケムドライシステムの洗浄液は、他社の洗剤に比べて粘着性（ベタつき）がありません。<br>今までのように「クリーニングのあとすぐに汚れる。」ということがありませんので、カーペットの美しさを持続させることができます。クリーニングと同時に防汚加工することもできます。
									</td>
								</tr>
								<tr>
									<th>
										<img src="./img/common/circle-chemdry-04.png" alt="ローコスト">
									</th>
									<td>
										ケムドライシステムは、カーペットを美しくクリーニングするだけでなく、経費の節減にも貢献します。<br>作業の短時間化と効果の持続性によって達成したコストパフォーマンスの高さには、必ずご満足いただけることでしょう。
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<p class="text-center">
						<a href="./case.html" class="img-btn">
							<img src="./img/common/banner-case.jpg" alt="施行例はこちらから">
						</a>
					</p>
				</section>
			</div>
		</div>
	</section>
	<section class="section-chemdry bg-stripe-blue" id="mos">
		<div class="bg-chemdry mos">
			<div class="section-inner">
				<div class="box-title-chemdry text-center">
					<h1 class="mb-30">
						<img src="./img/common/logo-mos.png" alt="MOS工法">
					</h1>
					<p class="mb-30">
						<img src="./img/common/lead-mos.png" alt="素材を傷めることなく復元！元から汚れを取り除きキレイを維持します">
					</p>
					<p>
						ビル・建物内外のカビや汚れを根元から分解し防菌・防カビ・防水効果で美観を維持します。<br>
						除カビ殺菌剤や漂白剤を使用してブラシなどでこすり落とす方法ではありません！<br>
						壁や木材 等の材料の内部に特殊洗浄剤を浸透させて、<br>
						カビを殺し元から取り除き根絶させる工法なので建物をキズつけたり塗装を変色させたり、<br>
						木材をいためることなく復元させることが可能です。
					</p>
				</div>
				<section class="box-section">
					<h1 class="text-center mb-20">
						<img src="./img/common/title-mos-01.png" alt="MOS工法の優れた特徴">
					</h1>
					<div class="clearfix mb-30">
						<div class="pull-left col-mos">
							<p class="text-center mb-10">
								<img src="./img/common/circle-mos-01.png" alt="工事が簡単">
							</p>
							<p>
								特殊洗浄剤を直接部位に吹き付け浸透させ、汚れの元を浮き出させてあらい落としながら防菌、防カビ対策を処置するので少人数でスピーディー。
							</p>
						</div>

						<div class="pull-left col-mos">
							<p class="text-center mb-10">
								<img src="./img/common/circle-mos-02.png" alt="ローコスト">
							</p>
							<p>
								般の塗装補修料金のほぼ半額と、大幅コストダウンを実現。
							</p>
						</div>

						<div class="pull-left col-mos">
							<p class="text-center mb-10">
								<img src="./img/common/circle-mos-03.png" alt="効果の維持">
							</p>
							<p>
								防カビの最大のポイントである根元から分解する事にくわえ防菌、防カビ対策処置を行う事により効果が維持します。
							</p>
						</div>
					</div>
					<div class="clearfix mb-60 row-mos">
						<div class="pull-left col-mos col-mos-2">
							<p class="text-center mb-10">
								<img src="./img/common/circle-mos-04.png" alt="足場が不要">
							</p>
							<p>
								従来の大掛かりな足場は不要で、中規模程度のビル、マンションであれば高所作業者を利用。
							</p>
						</div>

						<div class="pull-left col-mos col-mos-2">
							<p class="text-center mb-10">
								<img src="./img/common/circle-mos-05.png" alt="安心安全">
							</p>
							<p>
								薬品成分は、例えば防カビ剤なら食品添加物にしようされているものと同じものを使用、だから人体や動植物に安全。
							</p>
						</div>
					</div>

					<div>
						<p class="mb-30 text-center">
							<img src="./img/common/text-mos-01.png" alt="こんな場合にオススメ！">
						</p>
						<section class="section-about clearfix bb">
							<div class="pull-left img left">
								<p>
									<img src="./img/common/img-mokuzai.png" alt="木材のカビ、黒ズミ">
								</p>
							</div>
							<div class="pull-left text">
								<p class="text-bold text-pink text-20">
									木材のカビ、黒ズミ　　
								</p>
								<p class="text-14 mb-30">
									従来の木材クリーニングは、強酸をしようしたあく洗いというものでした。<br>
									強酸ですので、強酸ですので、植栽・躯体を傷めてしまうものでしたが
									MOS工法は木材を傷めることなく汚れを分解除去し、美観を取り戻すことが可能です。
								</p>
							</div>
						</section>

						<section class="section-about clearfix bb">
							<div class="pull-left img left">
								<p>
									<img src="./img/common/img-yuka.png" alt="工場、店舗等の天井や壁の汚れ">
								</p>
							</div>
							<div class="pull-left text">
								<p class="text-bold text-pink text-20">
									工場、店舗等の天井や壁の汚れ
								</p>
								<p class="text-14 mb-30">
									工場・店舗の天井、壁や床のカビやヤニ、油汚れにもしっかり対応できます。<br>
									外タンク（塗装・ステンレスなど）見違えるほどにきれいに
									浴場施設のカビ・水垢・エフロも除去、木材部分のカビや汚れもスッキリ！
								</p>
							</div>
						</section>

						<section class="section-about clearfix">
							<div class="pull-left img left">
								<p>
									<img src="./img/common/img-sekizai.png" alt="寺社仏閣、墓石等の汚れ">
								</p>
							</div>
							<div class="pull-left text">
								<p class="text-bold text-pink text-20">
									寺社仏閣、墓石等の汚れ　
								</p>
								<p class="text-14 mb-30">
									外門、柱、軒下の木材部分や、墓石、石畳、石灯篭などの汚れもおまかせください!<br>
									従来のあく洗い（強酸使用）ではなく、躯体や動植物に優しい溶剤を使用。<br>
									保護剤によりキレイを維持し、木材の劣化も引き戻し作用があります。
								</p>
							</div>
						</section>

					</div>

					<p class="text-center">
						<a href="./case.html" class="img-btn">
							<img src="./img/common/banner-case.jpg" alt="施行例はこちらから">
						</a>
					</p>
				</section>
			</div>
		</div>
	</section>
</main>
<% include common/_footer %>