<%
var text = "お問い合わせ";
var page ="contact";
var title = "お問い合わせ｜株式会社マミィ｜ケムドライシステム施工のカーペット・ソファカーシートクリーニング";
var description = "株式会社マミィへのカーペット・ソファ・カーシート、インテリアクリーニングに関するご相談やお問い合わせは指定のメールフォーム・お電話でお問い合わせ下さい。商品のご注文も承っております。";
%>
<% include common/_head %>
<% include common/_header %>
<main>
	<div class="bg-stripe-pink section-lg">
		<div class="section-inner">
			<div class="box-section">
				<section class="mb-60">
					<h1 class="title-lined mb-40">
						<span>
							<img src="./img/common/title-tel.png" alt="お電話でのお問い合わせ">
						</span>
					</h1>
					
					<p class="tel-contact">
						<i class="text-pink fa fa-phone" aria-hidden="true"></i> 
						<span class="tel-link">
							<img src="./img/common/number-tel-contact.png" alt="048-776-3207">
						</span>
					</p>
					<p class="time-contact">
						受付時間　9：00～20：00　(年中無休)
					</p>
				</section>
				<section>
					<h1 class="title-lined mb-20">
						<span>
							<img src="./img/common/title-mail.png" alt="メールでのお問い合わせ">
						</span>
					</h1>

					<p class="text-15 mb-10">
						下記のフォームをご入力いただきお問い合わせください。<br>
						お客さまからいただいたEメールアドレスが違っている場合や、システム障害などによりお返事できない場合がございます。
					</p>
					<p>
						■ お問い合わせ情報は、フォームにご記入頂きましたメールアドレス宛にも自動返送されます。
					</p>
					<p class="mb-30">
						<span class="req-mark">必須</span> 印は必須項目となっております。
					</p>
					<form id="mail-form" name="mail-form" method="post" action="contact/postmail">
						<table class="table-contact mb-20">
							<tbody>

								<tr>
									<th><label for="fm_name" onclick="">お名前</label><span class="req-mark">必須</span></th>
									<td>
										<input type="text" name="word1" class="form-control text-input validate[required]" id="fm_name" placeholder="（例：山田　太郎）" size="20">
									</td>
								</tr>

								<tr>
									<th><label for="fm_furi" onclick="">フリガナ</label><span class="req-mark">必須</span></th>
									<td>
										<input type="text" name="word2" class="form-control text-input validate[required]" id="fm_furi" placeholder="（例：ヤマダ　タロウ）" size="20">
									</td>
								</tr>

								<tr>
									<th><label for="fm_corp" onclick="">会社名</label></th>
									<td>
										<input type="text" name="word3" class="form-control text-input" id="fm_corp" placeholder="（例：株式会社マミィ）" size="20">
									</td>
								</tr>

								<tr>
									<th><label for="fm_mail" onclick="">メールアドレス</label><span class="req-mark">必須</span></th>
									<td>
										<input type="text" name="word4" class="form-control validate[required,custom[email]] text-input" id="fm_mail" placeholder="（例：example@example.co.jp）" size="20">
									</td>
								</tr>

								<tr>
									<th><label for="fm_tel" onclick="">ご連絡先電話番号</label><span class="req-mark">必須</span></th>
									<td>
										<input type="text" name="word5" class="form-control validate[required,custom[phone]] text-input" id="fm_tel" placeholder="（例：048-776-3207）" size="20">
									</td>
								</tr>

								<tr>
									<th><label for="fm_address" onclick="">住所</label></th>
									<td>
										<input type="text" name="word6" class="form-control text-input" id="fm_address" placeholder="（例：埼玉県上尾市上平中央2-2-28）" size="20">
									</td>
								</tr>

								<tr>
									<th>お問い合わせについて<span class="req-mark">必須</span></th>
									<td>
										<input type="hidden" name="word7" value="">
										<label class="radio-inline">
											<input type="checkbox" name="word7[]" id="fm_reason1" value="お見積りについて" class="checkbox validate[required]">お見積りについて
										</label>　
										<label class="radio-inline">
											<input type="checkbox" name="word7[]" id="fm_reason2" value="クリーニングに関するご相談" class="checkbox validate[required]">クリーニングに関するご相談
										</label>　
										<label class="radio-inline">
											<input type="checkbox" name="word7[]" id="fm_reason3" value="商品についてのお問い合わせ" class="checkbox validate[required]">商品についてのお問い合わせ
										</label>　
										<label class="radio-inline">
											<input type="checkbox" name="word7[]" id="fm_reason4" value="その他のお問い合わせ" class="checkbox validate[required]">その他のお問い合わせ
										</label>　
									</td>
								</tr>

								<tr>
									<th>商品のご注文について</th>
									<td>
										<input type="hidden" name="word8" value="">
										<label class="radio-inline">
											<input type="checkbox" name="word8[]" id="fm_item1" value="バイオ式家庭用生ごみ処理機「環境すぐれもの」のご注文" class="checkbox">バイオ式家庭用生ごみ処理機「環境すぐれもの」のご注文
										</label>
										<br>
										<label class="radio-inline">
											<input type="checkbox" name="word8[]" id="fm_item2" value="レンジフード用カバー「ぴたクリーン」」のご注文" class="checkbox">レンジフード用カバー「ぴたクリーン」」のご注文
										</label>
										<br>
										<label class="radio-inline">
											<input type="checkbox" name="word8[]" id="fm_item3" value="繊維専用スポットクリーナー「ステインエクスティングイッシャー」のご注文" class="checkbox">繊維専用スポットクリーナー「ステインエクスティングイッシャー」のご注文
										</label>
										<br>
										<p class="text-13 text-red text-indent">
											※ご希望商品を選択のうえ、ご希望の数量をお問い合わせ内容にご入力下さい。<br>
											担当者が確認後、在庫状況をお調べしてご連絡差し上げます。
										</p>
									</td>
								</tr>

								<tr>
									<th><label for="fm_content" onclick="">お問い合わせ内容</label><span class="req-mark">必須</span></th>
									<td>
										<textarea name="word9" cols="40" rows="6" class="form-control validate[required]" id="fm_content" placeholder="（ご自由にお書きください）" ></textarea> 
									</td>
								</tr>
							</tbody>
						</table>

						<div class="privacy-box mb-20">
							<p class="text-bold text-10">
								個人情報の取り扱いについて
							</p>
							<div class="privacy-text">
								<p>
									当社は、個人情報保護の重要性を認識し、個人情報保護の方針を定めるとともに、個人情報の適切な保護に努めます。<br>
									個人情報の収集、利用に関する基本原則、管理方法ならびに実効性を持たせる手段として教育・訓練、監査等について以下のとおり規定し、実行して参ります。
								</p>
								<h5>
									個人情報の収集、利用、提供等に関する基本原則
								</h5>
								<ol>
									<li>個人情報を直接収集する際は、適法かつ公正な手段により、本人の同意を得た上で行います。</li>
									<li>収集にあたっては、利用目的を明確にし、その目的のために必要な範囲内にとどめます。</li>
									<li>個人の利益を侵害する可能性が高い機微な情報は、本人の明確な同意がある場合または法令等の裏付けがある場合以外には収集しません。</li>
									<li>当社が個人情報の処理を伴う業務を外部から受託する場合や外部へ委託する場合は、個人情報に関する秘密の保持、再委託に関する事項、事故時の責任分担、契約終了時の個人情報の返却および消去等について定め、それに従います。</li>
									<li>個人情報は、本人の同意を得た範囲内で利用、提供します。</li>
								</ol>
								<h5>
									個人情報の管理について
								</h5>
								<ol>
									<li>当社が直接収集または外部から業務を受託する際に入手した個人情報は、正確な状態に保ち、不正アクセス、紛失・破壊・改ざんおよび漏洩等を防止するための措置を講じます。</li>
									<li>個人情報の処理を伴う業務を外部から受託する場合は、委託者が個人情報を入手した際、本人の同意を得た上で、適法かつ公正な手段によって収集したものであることを確認します。</li>
								</ol>
								<h5>
									法令及びその他の規範について
								</h5>
								<p>
									当社は、個人情報の保護に関係する日本の法令及びその他の規範を遵守し、本方針の継続的改善に努めます。
								</p>
								<h5>
									本人からのお問い合わせ
								</h5>
								<p>
									本人からの個人情報の取扱いに関するお問い合わせには、妥当な範囲において、すみやかな対応に努めます。<br>
									このページの内容に関するご質問及びお客様がご自身の個人情報についてご確認されたい場合には、
									【TEL:<span class="tel-link">048-776-3207</span>】までお問い合わせ下さい。
								</p>
							</div>
						</div>
						<p class="agree-box mb-10 text-center">
							<label>
								<input type="checkbox" class="validate[required]" name="word10" id="agree" value="個人情報保護方針に同意"><span> 個人情報保護方針に同意の上、送信します</span>
							</label>
						</p>
						<p class="text-center text-18">
							<button type="submit" id="mail_submit_button" name="mail_submit_button" class="btn-big">
								<i class="fa fa-chevron-right" aria-hidden="true"></i>送信する
							</button>
						</p>
					</form>
				</section>
			</div>
		</div>
	</div>
</main>
<% include common/_footer %>