<%
var text = "施工事例";
var page ="case";
var title = "施工事例｜株式会社マミィ｜ケムドライシステム施工のカーペット・ソファカーシートクリーニング";
var description = "株式会社マミィがこれまで施工した事例をご紹介いたします。カーペット・ソファ・カーシートを始めとしたケムドライシステムの施行例や外壁清掃やエアコンクリーニング等の様々な事例がご覧いただけます。";
%>
<% include common/_head %>
<% include common/_header %>
<main>
	<div class="bg-stripe-pink section-lg">
		<div class="section-inner clearfix">
			<% include common/_side %>		
			<div class="pull-left cont">
				<article class="box-section box-entry">
					<header>
						<h1>
							ソファー・椅子クリーニング
						</h1>
					</header>
					<div class="gallery-wrapp mb-30">
						<!--メイン画像配置 初期画像＋初期テキスト挿入-->
						<div class="block-gallery-main mb-20">
							<p class="img-gallery-main mb-10">
								<span class="img-main" style="background-image:url(./img/sample/img-sample-4x3.jpg)"></span>
							</p>
							<p class="text-main">
								説明テキスト挿入説明テキスト挿入説明テキスト挿入説明テキスト挿入説明テキスト挿入
							</p>
						</div>
						<div class="thumbs-gallery">
							<!--サムネイル画像配置 date-textへ差し替えテキスト挿入-->
							<ul class="clearfix">
								<li class="active">
									<p>
										<a href="./img/sample/img-sample-4x3.jpg" data-text="差し替えテキスト挿入">
											<!--サムネイル(背景として指定)-->
											<span class="img-thumbs" style="background-image:url(./img/sample/img-sample-4x3.jpg)"></span>
										</a>
									</p>
								</li>
								<li>
									<p>
										<a href="./img/sample/img-sample-16x9.jpg" data-text="差し替えテキスト挿入2">
											<!--サムネイル(背景として指定)-->
											<span class="img-thumbs" style="background-image:url(./img/sample/img-sample-16x9.jpg)"></span>
										</a>
									</p>
								</li>
								<li>
									<p>
										<a href="./img/sample/img-sample-16x9.jpg" data-text="差し替えテキスト挿入3">
											<!--サムネイル(背景として指定)-->
											<span class="img-thumbs" style="background-image:url(./img/sample/img-sample-16x9.jpg)"></span>
										</a>
									</p>
								</li>
								<li>
									<p>
										<a href="./img/sample/img-sample-16x9.jpg" data-text="差し替えテキスト挿入4">
											<!--サムネイル(背景として指定)-->
											<span class="img-thumbs" style="background-image:url(./img/sample/img-sample-16x9.jpg)"></span>
										</a>
									</p>
								</li>
								<li>
									<p>
										<a href="./img/sample/img-sample-9x16.jpg" data-text="差し替えテキスト挿入5">
											<!--サムネイル(背景として指定)-->
											<span class="img-thumbs" style="background-image:url(./img/sample/img-sample-9x16.jpg)"></span>
										</a>
									</p>
								</li>
								<li>
									<p>
										<a href="./img/sample/img-sample-9x16.jpg" data-text="差し替えテキスト挿入5">
											<!--サムネイル(背景として指定)-->
											<span class="img-thumbs" style="background-image:url(./img/sample/img-sample-9x16.jpg)"></span>
										</a>
									</p>
								</li>
								<li>
									<p>
										<a href="./img/sample/img-sample-9x16.jpg" data-text="差し替えテキスト挿入5">
											<!--サムネイル(背景として指定)-->
											<span class="img-thumbs" style="background-image:url(./img/sample/img-sample-9x16.jpg)"></span>
										</a>
									</p>
								</li>
								<li>
									<p>
										<a href="./img/sample/img-sample-9x16.jpg" data-text="差し替えテキスト挿入5">
											<!--サムネイル(背景として指定)-->
											<span class="img-thumbs" style="background-image:url(./img/sample/img-sample-9x16.jpg)"></span>
										</a>
									</p>
								</li>
							</ul>
						</div>
					</div>
					<section class="minsection-entry mb-40">
						<h3>・施工のポイント</h3>
						<p>
							施工のポイントテキスト挿入。施工のポイントテキスト挿入。施工のポイントテキスト挿入。施工のポイントテキスト挿入。施工のポイントテキスト挿入。施工のポイントテキスト挿入。施工のポイントテキスト挿入。施工のポイントテキスト挿入。施工のポイントテキスト挿入。施工のポイントテキスト挿入。施工のポイントテキスト挿入。
						</p>
					</section>
					<div class="text-center">
						<a href="./case.html" class="btn-big">
							<i class="fa fa-angle-left" aria-hidden="true"></i>1つ前のページに戻る
						</a>
					</div>
				</article>
			</div>
		</div>
	</div>
</main>
<% include common/_footer %>