<%
var page ="index";
var title = "ケムドライシステム施工店｜株式会社マミィ｜カーペット・ソファ・カーシート等のクリーニング";
var description = "株式会社マミィは通常では落ちにくいカーペット・ソファ・カーシート等のクリーニングを行う清掃業者です。通常では落ちにくいペットや油の汚れや臭いをケムドライシステムでキレイに落とします。";
%>
<% include common/_head %>
<% include common/_header %>
<div class="bg-mv">
  <div class="main-visual slider">
    <div><a href="./service.html"><img src="./img/common/main01.jpg" width="1020" height="520" alt="車のシートの匂いヤニ汚れ。1台から複数台まで！バスやタクシーもOK！" /></a></div>
    <div><a href="./chemdry.html"><img src="./img/common/main02.jpg" width="1020" height="520" alt="しつこい汚れも『ケムドライシステム』でキレイ。個人様でも法人様でもお待ちしております" /></a></div>
    <div><a href="./service.html"><img src="./img/common/main03.jpg" width="1020" height="520" alt="木材石材のカビ染み。汚れに合わせて解析、汚れを分解するMOS工法" /></a></div>
    <div><a href="./service.html"><img src="./img/common/main04.jpg" width="1020" height="520" alt="傷まない・縮まないカーペットクリーニング。赤ワイン等の赤い染み落としの不可能を可能に！" /></a></div>
  </div>
</div>

<main>
  <div class="section-top-01 bg-stripe-pink">
    <div class="section-inner">
      <p class="text-right mb-40">
        <img src="./img/common/text-top-01-01.png" alt="しつこい汚れも専門のクリーニング『ケムドライシステム』でキレイに！">
      </p>
      <div class="clearfix mb-30">
        <a href="./chemdry.html" class="pull-left harf box-top-01 left">
          <p class="title">
            ケムドライシステム
          </p>
          <p class="text-center">
            <img src="./img/common/img-top-01-left.png" alt="ソファ・カーペット・車のシート">
          </p>
        </a>
        <a href="./chemdry.html#mos" class="pull-left harf box-top-01 right">
          <p class="title">
            MOS工法
          </p>
          <p class="text-center">
            <img src="./img/common/img-top-01-right.png" alt="カビ根絶">
          </p>
        </a>
      </div>
      <p class="mb-20 text-center">
        <img src="./img/common/lead-about-01.png" alt="ソファやカーペットからビル清掃まで！">
      </p>
      <p class="mb-30 text-center">
        <img src="./img/common/lead-about-02.png" alt="身の回りの清掃・クリーニングはマミィへお任せ下さい！">
      </p>
      <div class="bg-about-01 mb-40 text-center text-16">
        <p>
          株式会社マミィは埼玉県を中心に個人様、法人様向けにクリーニング、清掃業務を行っております。<br>
          ケムドライシステムとMOS工法による専門クリーニングにより<br>
          ソファ、椅子、カーペット、車のシートなどの繊維素材のクリーニングや外壁の清掃、<br>
          原状回復などあらゆるご要望に柔軟にご対応致します！<br>
          その他、清掃関連用品のは販売やビル、マンション清掃業務やエアコンクリーニング、遺品整理も承ります。<br>
          ご相談からお見積り依頼までまずはお気軽にお問い合わせ下さい！
        </p>
      </div>
    </div>
  </div>
  <section class="section-top-02 bg-yellow">
    <div class="section-inner">
      <div class="bg-wrapper">
        <!-- <div class="left">
          <img src="./img/common/bg-top-02-left.png" alt="cleaning">
        </div>
        <div class="right">
          <img src="./img/common/bg-top-02-right.png" alt="cleaning">
        </div> -->
        <h1 class="text-center">
          <img src="./img/common/title-top-service.png" alt="サービス・料金一覧">
        </h1>
      </div>

      <div class="clearfix mb-30">

        <div class="box-top-02 pull-left">
          <p class="cat chem">
            ケムドライシステム
          </p>
          <!--サービスページへリンクURL-->
          <a href="./service.html#service01" class="content">
            <img src="./img/common/img-top-service-01.jpg" alt="ソファー・椅子">
            <div class="text">
              <div class="inner md">
                <p class="title">ソファー・椅子</p>
                <p class="detail">
                  様々な繊維素材に対応するのはもちろん、皮・レザー・ビニール素材でも対応可能です。大事なソファーが汚れて困っているという方、ぜひご相談下さい。
                </p>
              </div>
            </div>
          </a>
        </div>

        <div class="box-top-02 pull-left ml-30">
          <p class="cat chem">
            ケムドライシステム
          </p>
          <a href="./service.html#service02" class="content">
            <img src="./img/common/img-top-service-02.jpg" alt="カーペット">
            <div class="text">
              <div class="inner lg">
                <p class="title">カーペット</p>
                <p class="detail">
                  ケムドライシステムでクリーニングしたカーペットは、傷めたり縮めたりということがなく、ホコリやヨゴレを再び引きつける残留物を残さないので、仕上がりの美しさはもちろん耐用年数自体もグンと伸びます。
                </p>
              </div>
            </div>
          </a>
        </div>

        <div class="box-top-02 pull-left ml-30">
          <p class="cat chem">
            ケムドライシステム
          </p>
          <a href="./service.html#service03" class="content">
            <img src="./img/common/img-top-service-03.jpg" alt="車のシート洗浄">
            <div class="text">
              <div class="inner md">
                <p class="title">車のシート洗浄</p>
                <p class="detail">
                  車のシートの洗浄をお任せ下さい。ペットの臭いやタバコのヤニ汚れ、飲み物や食べこぼしなど、シミついてとれない汚れも、当社の洗浄ならキレイに落とします。
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="clearfix">

        <div class="box-top-02 pull-left">
          <p class="cat mos">
            MOS工法
          </p>
          <a href="./service.html#service04" class="content">
            <img src="./img/common/img-top-service-04.jpg" alt="石材クリーニング">
            <div class="text">
              <div class="inner">
                <p class="title">石材クリーニング</p>
                <p class="detail">
                  MOS工法によるクリーニングで汚れに合わせて各種石材に対応します！
                </p>
              </div>
            </div>
          </a>
        </div>

        <div class="box-top-02 pull-left ml-30">
          <p class="cat mos">
            MOS工法
          </p>
          <a href="./service.html#service05" class="content">
            <img src="./img/common/img-top-service-05.jpg" alt="木材クリーニング">
            <div class="text">
              <div class="inner">
                <p class="title">木材クリーニング</p>
                <p class="detail">
                  MOS工法で木材を傷めることなく綺麗に！<br>劣化も引き戻す復元清掃！
                </p>
              </div>
            </div>
          </a>
        </div>

        <div class="box-top-02 pull-left ml-30">
          <p class="cat mos">
            MOS工法
          </p>
          <a href="./service.html#service06" class="content">
            <img src="./img/common/img-top-service-06.jpg" alt="カビ根絶">
            <div class="text">
              <div class="inner">
                <p class="title">カビ根絶</p>
                <p class="detail">
                  経年による汚れやカビ・水垢やエフロ・さびなどを取り除きもとの姿に近づけます！
                </p>
              </div>
            </div>
          </a>
        </div>

      </div>
      <div class="clearfix">
        <div class="box-top-02 pull-left catless">

          <a href="./service.html#service07" class="content">
            <img src="./img/common/img-top-service-07.jpg" alt="ハウスクリーニングビル清掃">
            <div class="text">
              <div class="inner">
                <p class="title">ハウスクリーニング<br>ビル清掃</p>
                <p class="detail">
                  身の回りの清掃からビルの定期清掃まで！<br>
                  引越し前清掃も承ります！
                </p>
              </div>
            </div>
          </a>
        </div>

        <div class="box-top-02 pull-left ml-30 catless">
          <a href="./service.html#service08" class="content">
            <img src="./img/common/img-top-service-08.jpg" alt="エアコンクリーニング">
            <div class="text">
              <div class="inner">
                <p class="title">エアコンクリーニング</p>
                <p class="detail">
                  ビルから一般住宅まで！<br>
                  あらゆるエアコンの清掃に対応します！
                </p>
              </div>
            </div>
          </a>
        </div>

        <div class="box-top-02 pull-left ml-30 catless">
          <a href="./service.html#service09" class="content">
            <img src="./img/common/img-top-service-09.jpg" alt="遺品整理">
            <div class="text">
              <div class="inner">
                <p class="title">遺品整理</p>
                <p class="detail">
                  心づくしの遺品整理、個人の想いを大切にマミィがお手伝いします。
                </p>
              </div>
            </div>
          </a>
        </div>

      </div>
    </div>
  </section>
  <section class="section-top-03">
    <div class="section-inner">
      <p class="bg">
        <img src="./img/common/img-top-03.png" alt="ケムドライシステムとMOS工法について">
      </p>
      <h1 class="mb-30">
        <img src="./img/common/title-top-03.png" alt="ケムドライシステムとMOS工法について">
      </h1>
      <p class="text-16 text mb-30">
        アメリカ生まれのインテリアクリーニング「ケムドライシステム」カーペットやソファー、椅子などの汚れやシミをキレイに落とし、「MOS工法」は汚れを分析して洗剤自体の反応で分解、除去します。<br>
        あらゆる素材に対応しており、繊維を傷つけたり縮ませることがありません。<br>
        環境、人体にも安全な洗浄液を使用しいつまでも美しさが持続します。<br>
        他社でお断りされてしまった汚れ、あきらめていた汚れも一度ご相談下さい。
      </p>
      <div class="clearfix">
        <a href="./chemdry.html" class="pull-left btn-top-03 img-btn">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
          ケムドライシステムについて
        </a>
        <a href="./chemdry.html#mos" class="pull-left btn-top-03 img-btn">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
          MOS工法について
        </a>
      </div>
    </div>
  </section>
  <section class="section-lg">
    <div class="section-inner">
      <h1 class="text-center mb-30">
        <img src="./img/common/title-top-case.png" alt="クリーニング事例">
      </h1>
      <div class="clearfix mb-10">

        <!--事例date参照-->
        <div class="box-case-top match">
          <p class="text-cat">
            ソファー・椅子クリーニング
          </p>
          <!--URL 画像は背景として指定-->
          <a href="./case.html" class="img-thumbs mb-10" style="background-image: url('./img/sample/img-sample-4x3.jpg')"></a>
          <p class="text-item">
            ソファー清掃例
          </p>
          <p>
            textが入ります。textが入ります。textが入ります。textが入ります。textが入ります。textが入ります。textが入ります。
          </p>
        </div>

        <!--事例date参照-->
        <div class="box-case-top match">
          <p class="text-cat">
            ソファー・椅子クリーニング
          </p>
          <!--URL 画像は背景として指定-->
          <a href="./case.html" class="img-thumbs mb-10" style="background-image: url('./img/sample/img-sample-4x3.jpg')"></a>
          <p class="text-item">
            ソファー清掃例
          </p>
          <p>
            textが入ります。textが入ります。textが入ります。textが入ります。textが入ります。textが入ります。textが入ります。textが入ります。textが入ります。textが入ります。textが入ります。textが入ります。textが入ります。textが入ります。
          </p>
        </div>

        <!--事例date参照-->
        <div class="box-case-top match">
          <p class="text-cat">
            ソファー・椅子クリーニング
          </p>
          <!--URL 画像は背景として指定-->
          <a href="./case.html" class="img-thumbs mb-10" style="background-image: url('./img/sample/img-sample-4x3.jpg')"></a>
          <p class="text-item">
            ソファー清掃例
          </p>
          <p>
            textが入ります。textが入ります。textが入ります。textが入ります。textが入ります。textが入ります。textが入ります。
          </p>
        </div>

        <!--事例date参照-->
        <div class="box-case-top match">
          <p class="text-cat">
            ソファー・椅子クリーニング
          </p>
          <!--URL 画像は背景として指定-->
          <a href="./case.html" class="img-thumbs mb-10" style="background-image: url('./img/sample/img-sample-4x3.jpg')"></a>
          <p class="text-item">
            ソファー清掃例
          </p>
          <p>
            textが入ります。textが入ります。textが入ります。textが入ります。textが入ります。textが入ります。textが入ります。
          </p>
        </div>

        <!--事例date参照-->
        <div class="box-case-top match">
          <p class="text-cat">
            ソファー・椅子クリーニング
          </p>
          <!--URL 画像は背景として指定-->
          <a href="./case.html" class="img-thumbs mb-10" style="background-image: url('./img/sample/img-sample-4x3.jpg')"></a>
          <p class="text-item">
            ソファー清掃例
          </p>
          <p>
            textが入ります。textが入ります。textが入ります。textが入ります。textが入ります。textが入ります。textが入ります。
          </p>
        </div>

        <!--事例date参照-->
        <div class="box-case-top match">
          <p class="text-cat">
            ソファー・椅子クリーニング
          </p>
          <!--URL 画像は背景として指定-->
          <a href="./case.html" class="img-thumbs mb-10" style="background-image: url('./img/sample/img-sample-4x3.jpg')"></a>
          <p class="text-item">
            ソファー清掃例
          </p>
          <p>
            textが入ります。textが入ります。textが入ります。textが入ります。textが入ります。textが入ります。textが入ります。
          </p>
        </div>

      </div>
      <div class="text-center">
        <a href="./case.html" class="btn-big">
          <i class="fa fa-angle-right" aria-hidden="true"></i>クリーニング事例を詳しく見る
        </a>
      </div>

    </div>
  </section>
  <section class="section-sale section-lg bg-yellow">
    <div class="section-inner">
      <h1 class="text-center title mb-60">
        <img src="./img/common/title-sale.png" alt="清掃用品販売">
      </h1>
      <div class="clearfix">
        <div class="box-sale">
          <div class="match mb-20">
            <p>
              <img src="./img/common/img-sale-01.png" alt="環境すぐれもの">
            </p>
            <p class="text-16 text-bold text-center mb-10">
              バイオ式家庭用生ごみ処理機<br>
              「環境すぐれもの」
            </p>
            <p class="text-center text-16 price-01 text-bold lh-reset mb-10">
              ￥79,800（税込）
            </p>
            <p class="text">
              バイオの力で生ごみが消滅！<br>
              最短10分で生ごみが消滅します！<br>
              環境に優しく、ほとんど臭いません。<br>
              家庭用電気生ごみ処理機の助成金の対象商品となっておりますので補助金と助成金が活用できます。
            </p>
          </div>
          <a href="./contact.html" class="btn-res">
            <i class="fa fa-angle-right" aria-hidden="true"></i>ご注文・お問い合わせはこちら
          </a>
        </div>

        <div class="box-sale">
          <div class="match mb-20">
            <p>
              <img src="./img/common/img-sale-02.png" alt="ぴたクリーン">
            </p>
            <p class="text-16 text-bold text-center mb-10">
              レンジフード用カバー<br>
              「ぴたクリーン」
            </p>
            <p class="text-center text-14 price-02 text-bold lh-normal mb-10">
              枠　1枚 ￥3,400（税込）～<br>
              フィルター(12枚入り) ￥5,400（税込）～
            </p>
            <p class="text">
              ワンタッチ交換のできるレンジフード用カバーです。換気扇内部やダクトの中の汚れを防ぎ、劣化を防ぐ効果もあります。
              1枚で1～3ヶ月使用可能、あらゆる機種に対応します。<br>
              サイズによって価格が異なりますのでまずはお気軽にお問い合わせ下さい。
            </p>
          </div>
          <a href="./contact.html" class="btn-res">
            <i class="fa fa-angle-right" aria-hidden="true"></i>ご注文・お問い合わせはこちら
          </a>
        </div>

        <div class="box-sale">
          <div class="match mb-20">
            <p>
              <img src="./img/common/img-sale-03.png" alt="ステインエクスティングイッシャー">
            </p>
            <p class="text-16 text-bold text-center mb-10">
              繊維専用スポットクリーナー
              「ステインエクスティングイッシャー」
            </p>
            <p class="text-center text-16 price-03 text-bold lh-reset mb-10">
              ￥2,100（税込）
            </p>
            <p class="text">
              カーペット、ソファ、カーテン、車のシート等に使用できる繊維製品専用スポットクリーナーです。<br>
              強い成分を使用しない炭素の気泡でクリーニングするので洗浄力に優れ、デリケートな繊維製品にも安心して使用できます。
            </p>
          </div>
          <a href="./contact.html" class="btn-res">
            <i class="fa fa-angle-right" aria-hidden="true"></i>ご注文・お問い合わせはこちら
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="section-lg">
    <div class="section-inner">
      <h1 class="text-28 title-blog mb-40">
        <i class="fa fa-commenting text-pink" aria-hidden="true"></i>
        マミィのブログ
      </h1>
      <!-- start feedwind code --> <script type="text/javascript" src="https://feed.mikle.com/js/fw-loader.js" data-fw-param="21098/"></script> <!-- end feedwind code -->
    </div>
  </section>
</main>
<% include common/_footer %>