<%
var text = "サービス・料金案内";
var page ="service";
var title = "サービス・料金案内｜株式会社マミィ｜ケムドライシステム施工のカーペット・ソファカーシートクリーニング";
var description = "株式会社マミィはケムドライシステム施工をはじめとした、カーペット・ソファ・カーシート等のクリーニングやビル清掃、遺品整理、エアコンクリーニング、石材・木材などの原状回復やクリーニングを施工しております。";
%>
<% include common/_head %>
<% include common/_header %>
<main>
	<div class="bg-stripe-pink section-lg">
		<div class="section-inner">
			<div class="btns-service mb-40">
				<div class="top pie-clearfix mb-20">
					<a href="#service01" class="scroll-link img-btn">
						<img src="./img/common/btn-service-01.png" alt="ソファー・椅子">
					</a>
					<a href="#service02" class="scroll-link img-btn">
						<img src="./img/common/btn-service-02.png" alt="カーペット">
					</a>
					<a href="#service03" class="scroll-link img-btn">
						<img src="./img/common/btn-service-03.png" alt="車のシート洗浄">
					</a>
					<a href="#service04" class="scroll-link img-btn">
						<img src="./img/common/btn-service-04.png" alt="石材クリーニング">
					</a>
				</div>
				<div class="bottom text-center">
					<a href="#service05" class="scroll-link img-btn">
						<img src="./img/common/btn-service-05.png" alt="木材クリーニング">
					</a>
					<a href="#service06" class="scroll-link img-btn">
						<img src="./img/common/btn-service-06.png" alt="カビ根絶">
					</a>
					<a href="#service07" class="scroll-link img-btn">
						<img src="./img/common/btn-service-07.png" alt="ビル・マンションハウスクリーニング">
					</a>
					<a href="#service08" class="scroll-link img-btn">
						<img src="./img/common/btn-service-08.png" alt="遺品整理">
					</a>
					<a href="#service09" class="scroll-link img-btn">
						<img src="./img/common/btn-service-09.png" alt="エアコンクリーニング">
					</a>
				</div>
			</div>

			<section id="service01" class="mb-30 box-service box-section">
				<div class="clearfix row-service mb-20">
					<div class="pull-left left">
						<p>
							<img src="./img/common/img-service-01.jpg" alt="ソファ・椅子">
						</p>
					</div>
					<div class="pull-left right">
						<h3 class="title-lined mb-10">
							<span>ソファ・椅子</span>
						</h3>
						<p class="text-18 text-bold mb-10">
							ホール椅子、事務イス、ソファに対応！
						</p>
						<ul class="list-checked mb-20">
							<li>しつこいシミ、汚れも綺麗に落とします！</li>
							<li>美しさと色がよみがえります！</li>
						</ul>
						<p class="text-center">
							<a href="./case.html" class="btn-normal">
								<i class="fa fa-angle-right" aria-hidden="true"></i>クリーニング事例はこちら
							</a>
						</p>
					</div>
				</div>
				<div class="content">
					<p class="btn-service">
						詳しい料金表を見る <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
					</p>
					<div class="details-service">
						<div class="clearfix">
							<div class="pull-left harf">
								<h3 class="mb-10">
									基本料金
								</h3>
								<table class="table-simple pink mb-10">
									<tbody>
										<tr>
											<th>基本料金</th>
											<td>
												21,000円
											</td>
										</tr>
										<tr>
											<th>出張費</th>
											<td>
												県外の場合は、出張料をいただきます。
											</td>
										</tr>
										<tr>
											<th>抗菌・防カビ加工</th>
											<td>
												クリーニング単価×数量のプラス10%
											</td>
										</tr>
										<tr>
											<th>防汚・防水加工</th>
											<td>
												クリーニング単価×数量のプラス20%
											</td>
										</tr>
									</tbody>
								</table>
								<p class="text-13 text-indent">
									※形状・材質により価格は前後致しますのでご了承下さい。<br>お見積もりは無料です。
								</p>
								<p class="text-13 text-indent">
									※ご注文量によって料金割引あり
								</p>
							</div>
							<div class="pull-left harf">
								<h3 class="mb-10">
									クリーニング単価
								</h3>
								<table class="table-simple pink mb-10">
									<tbody>
										<tr>
											<th rowspan="2">ホール椅子</th>
											<td>
												布張り(背・座)
											</td>
											<td>
												1,500円
											</td>
										</tr>
										<tr>
											<td>
												布張り（全面）
											</td>
											<td>
												2,000円
											</td>
										</tr>

										<tr>
											<th rowspan="3">スタッキングチェアー</th>
											<td>
												ビニールレザー
											</td>
											<td>
												1,000円
											</td>
										</tr>
										<tr>
											<td>
												布張り
											</td>
											<td>
												1,500円
											</td>
										</tr>
										<tr>
											<td>
												※背もたれ座有り
											</td>
											<td>
												+1,000円
											</td>
										</tr>

										<tr>
											<th rowspan="3">OAチェアー</th>
											<td>
												ビニールレザー
											</td>
											<td>
												1,500円
											</td>
										</tr>
										<tr>
											<td>
												布張り
											</td>
											<td>
												2,000円
											</td>
										</tr>
										<tr>
											<td>
												※背肘有り
											</td>
											<td>
												+200円
											</td>
										</tr>

										<tr>
											<th rowspan="3">ロビーチェア</th>
											<td>
												ビニールレザー
											</td>
											<td>
												1,500円
											</td>
										</tr>
										<tr>
											<td>
												布張り
											</td>
											<td>
												2,000円
											</td>
										</tr>
										<tr>
											<td>
												※背有り
											</td>
											<td>
												+1,000円
											</td>
										</tr>

										<tr>
											<th rowspan="2">スツール</th>
											<td>
												ビニールレザー
											</td>
											<td>
												1,500円
											</td>
										</tr>
										<tr>
											<td>
												布張り
											</td>
											<td>
												2,500円
											</td>
										</tr>

										<tr>
											<th rowspan="2">ソファ（１人掛け）</th>
											<td>
												レザー
											</td>
											<td>
												8,000円
											</td>
										</tr>
										<tr>
											<td>
												布張り
											</td>
											<td>
												6,000円
											</td>
										</tr>

										<tr>
											<th rowspan="2">ソファ（２人掛け）</th>
											<td>
												レザー
											</td>
											<td>
												10,000円
											</td>
										</tr>
										<tr>
											<td>
												布張り
											</td>
											<td>
												8,000円
											</td>
										</tr>

										<tr>
											<th rowspan="2">ソファ（３人掛け）</th>
											<td>
												レザー
											</td>
											<td>
												12,000円
											</td>
										</tr>
										<tr>
											<td>
												布張り
											</td>
											<td>
												10,000円
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="service02" class="mb-30 box-service box-section">
				<div class="clearfix row-service mb-20">
					<div class="pull-left left">
						<p>
							<img src="./img/common/img-service-02.jpg" alt="カーペットクリーニング">
						</p>
					</div>
					<div class="pull-left right">
						<h3 class="title-lined mb-10">
							<span>カーペットクリーニング</span>
						</h3>
						<p class="text-18 text-bold mb-10">
							カーペットのクリーニングは「傷む」「縮む」<br>そう思ってはいませんか？<br>
							<span class="text-pink">ケムドライシステムなら大丈夫！</span>
						</p>
						<ul class="list-checked mb-20">
							<li>縮みやパッキングの腐食の心配もありません！</li>
							<li>素早い乾燥！</li>
							<li>床地を傷めることもありません！</li>
						</ul>
						<p class="text-center">
							<a href="./case.html" class="btn-normal">
								<i class="fa fa-angle-right" aria-hidden="true"></i>クリーニング事例はこちら
							</a>
						</p>
					</div>
				</div>
				<div class="content">
					<p class="btn-service">
						詳しい料金表を見る <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
					</p>
					<div class="details-service">
						<div class="box-details">
							<div class="contact">
								<p class="text-center mb-10">
									カーペットのクリーニングに関しまして、面積・繊維素材等によって施工料金が異なります。<br>
									お見積りをご希望の場合は指定のお問い合わせフォームからメールまたはお電話でお問い合わせ下さい。
								</p>
								<a href="./contact.html" class="pink btn-normal">
									<i class="fa fa-angle-right" aria-hidden="true"></i>お問合せフォームはこちら
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="service03" class="mb-30 box-service box-section">
				<div class="clearfix row-service mb-20">
					<div class="pull-left left">
						<p>
							<img src="./img/common/img-service-03.jpg" alt="車のシート・洗浄">
						</p>
					</div>
					<div class="pull-left right">
						<h3 class="title-lined mb-10">
							<span>車のシート・洗浄</span>
						</h3>
						<p class="text-18 text-bold">
							布・皮など・・・どんなシートでもお任せ下さい！
						</p>
						<p class="mb-10">
							<img src="./img/common/comment-car.png" alt="法人様に嬉しい割引サービスもあります！">
						</p>
						<ul class="list-checked mb-20">
							<li>ペットの臭いがきになる・・・</li>
							<li>タバコのにおいやヤニ汚れが気になる・・・</li>
							<li>飲み物や食べ物のシミなど</li>
							<li>嘔吐や粗相の後にも対応します！</li>
						</ul>
						<p class="text-center">
							<a href="./case.html" class="btn-normal">
								<i class="fa fa-angle-right" aria-hidden="true"></i>クリーニング事例はこちら
							</a>
						</p>
					</div>
				</div>
				<div class="content">
					<p class="btn-service">
						詳しい料金表を見る <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
					</p>
					<div class="details-service">
						<div class="mb-30">
							<h3 class="mb-10">
								コース別料金
							</h3>
							<table class="table-simple course mb-10">
								<thead>
									<tr>
										<th>
											車種 / コース作業内容
										</th>
										<th class="green">
											フルコース<br>
											<span class="text-12">
												シート/天井(ルーフ)/ドア(内張り)/床下（マット）
											</span>
										</th>
										<th class="orange">
											スタンダードコース<br>
											<span class="text-12">
												シート／足元マット
											</span>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>
											軽自動車<br>
											<span class="text-12">
												（ムーヴ・ワゴンR・ライフ・アルトなど）
											</span>
										</th>
										<td class="green">
											30,000円
										</td>
										<td class="orange">
											20,000円
										</td>
									</tr>
									<tr>
										<th>
											コンパクトカー<br>
											<span class="text-12">
												（ヴィッツ・キューブ・フィットなど）
											</span>
										</th>
										<td class="green">
											35,000円
										</td>
										<td class="orange">
											25,000円
										</td>
									</tr>
									<tr>
										<th>
											普通自動車【小】<br>
											<span class="text-12">
												（カローラ・サニー・ブルーバードなど）2000cc以下の乗用車
											</span>
										</th>
										<td class="green">
											38,000円
										</td>
										<td class="orange">
											28,000円
										</td>
									</tr>
									<tr>
										<th>
											普通自動車【大】<br>
											<span class="text-12">
												（セルシオ・シーマ・クラウン・セドリック・フーガ・レジェンドなど）
											</span>
										</th>
										<td class="green">
											40,000円
										</td>
										<td class="orange">
											30,000円
										</td>
									</tr>
									<tr>
										<th>
											1BOX・ミニバン・ステーションワゴン<br>
											<span class="text-12">
												（ハイエース・アルファード・エルグランド・デリカ・ランクルなど）３列シート
											</span>
										</th>
										<td class="green">
											48,000円
										</td>
										<td class="orange">
											35,000円
										</td>
									</tr>
								</tbody>
							</table>
							<p class="text-13 text-indent">
								※本革などの場合5.000円加算させていただきます。
							</p>
							<p class="text-13 text-indent">
								※汚れがひどい場合は、多少料金が加算になる場合があります。
							</p>
							<p class="text-13 text-indent mb-30">
								※税抜価格です。
							</p>
							<p class="text-13 text-indent">
								※作業日数は1~2日ほどかかります。
								例：普通自動車で午前9時にお預かりして午後5時にお渡し。
							</p>
							<p class="text-13 text-indent">
								※車内に貴重品や荷物がないようにお願い致します。
							</p>
							<p class="text-13 text-indent">
								※汚れの度合いによって価格が変わることがあります。
							</p>
							<p class="text-13 text-indent">
								※傷や老朽化したものについては、汚れの除去及び施工が出来ない場合もあります。
							</p>
							<p class="text-13 text-indent">
								※シミや汚れは、完全に落ちない場合があります。予めご了承ください。
							</p>
							<p class="text-13 text-indent">
								※バス・タクシーもお受け致します。
							</p>
						</div>

						<div>
							<h3 class="mb-10">
								部位別料金
							</h3>
							<table class="table-simple mb-10">
								<thead>
									<tr>
										<th colspan="3" class="text-center text-16 wrap">
											基本料金(最低施工料金)<br>
											<span class="text-12">
												※下記の部位単価表から組み合わせて、20,000円までは最低でもご注文いただきます。
												基本料金を超える場合は単価表に応じて料金を追加致します。
											</span>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr class="orange">
										<td rowspan="2">
											シート1列目
										</td>
										<td>
											運転席(布張り)
										</td>
										<td>
											5,000円
										</td>
									</tr>
									<tr class="orange">
										<td>
											運転席(布張り)
										</td>
										<td>
											5,000円
										</td>
									</tr>

									<tr class="red">
										<td rowspan="2">
											シート2列目
										</td>
										<td>
											２人掛け(布張り)
										</td>
										<td>
											7,000円
										</td>
									</tr>
									<tr class="red">
										<td>
											３人掛け(布張り)
										</td>
										<td>
											10,000円
										</td>
									</tr>

									<tr class="green">
										<td rowspan="2">
											シート3列目
										</td>
										<td>
											２人掛け(布張り)
										</td>
										<td>
											8,000円
										</td>
									</tr>
									<tr class="green">
										<td>
											３人掛け(布張り)
										</td>
										<td>
											10,000円
										</td>
									</tr>

									<tr class="blue">
										<td>
											天井(ルーフ)
										</td>
										<td class="blank">
											&nbsp;
										</td>
										<td>
											2,000円/㎡
										</td>
									</tr>
									<tr class="blue">
										<td>
											ドア(内張り)
										</td>
										<td class="blank">
											&nbsp;
										</td>
										<td>
											1,000円/㎡
										</td>
									</tr>
									<tr class="blue">
										<td>
											床下(マット)
										</td>
										<td class="blank">
											&nbsp;
										</td>
										<td>
											1,000円/㎡
										</td>
									</tr>
								</tbody>
							</table>
							<p class="text-12 text-indent">
								※本革などの場合5.000円加算させていただきます。
							</p>
							<p class="text-12 text-indent">
								※汚れがひどい場合は、多少料金が加算になる場合があります。
							</p>
							<p class="text-12 text-indent">
								※税抜価格です。
							</p>
						</div>
					</div>
				</div>
			</section>

			<section id="service04" class="mb-30 box-service box-section">
				<div class="clearfix row-service mb-20">
					<div class="pull-left left">
						<p>
							<img src="./img/common/img-service-04.jpg" alt="石材クリーニング">
						</p>
					</div>
					<div class="pull-left right">
						<h3 class="title-lined mb-10">
							<span>石材クリーニング</span>
						</h3>
						<p class="text-18 text-bold">
							他社でお断りされた<span class="text-pink">汚れ、サビ、シミ</span>・・・<br>マミィにご相談下さい！
						</p>
						<ul class="list-checked mb-10">
							<li>他社でお断りされた汚れやシミの修復実績があります！</li>
							<li>MOS工法により、建造物の洗浄と保護で、資産価値の向上を計ります！</li>
							<li>寺社仏閣のカビ取りもお受けいたします！</li>
							<li>保護剤塗布も含み、1年間の汚れ保証付き！</li>
						</ul>
						<p class="text-indent text-14 mb-20">
							※MOS工法とは、カビを除去して衛生的にする工法です。<br>
							人体に悪影響を与える菌を死滅させ快適な環境を作る環境メンテナンスです。
						</p>
						<p class="text-center">
							<a href="./case.html" class="btn-normal">
								<i class="fa fa-angle-right" aria-hidden="true"></i>クリーニング事例はこちら
							</a>
						</p>
					</div>
				</div>
				<div class="content">
					<p class="btn-service">
						詳しい料金表を見る <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
					</p>
					<div class="details-service">
						<h3 class="mb-10">
							コース別料金
						</h3>
						<table class="table-simple mb-10">
							<thead>
								<tr>
									<th>
										施工箇所
									</th>
									<th class="green">
										単価
									</th>
									<th class="orange">
										備考
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>
										外壁洗浄
									</th>
									<td class="green">
										5,000円より / 1㎡
									</td>
									<td class="orange">
										&nbsp;
									</td>
								</tr>
								<tr>
									<th>
										壁・クロス清掃
									</th>
									<td class="green">
										5,000円より / 1㎡
									</td>
									<td class="orange">
										&nbsp;
									</td>
								</tr>
								<tr>
									<th>
										木造冠門
									</th>
									<td class="green">
										50,000円より / 一式
									</td>
									<td class="orange">
										&nbsp;
									</td>
								</tr>
								<tr>
									<th>
										風呂（ユニット）
									</th>
									<td class="green">
										40,000円より / 一式
									</td>
									<td class="orange">
										&nbsp;
									</td>
								</tr>
								<tr>
									<th>
										風呂（大衆浴場）
									</th>
									<td class="green">
										5,000円より / 1㎡
									</td>
									<td class="orange">
										&nbsp;
									</td>
								</tr>
								<tr>
									<th>
										木材清掃
									</th>
									<td class="green">
										5,000円より / 1㎡
									</td>
									<td class="orange">
										&nbsp;
									</td>
								</tr>
								<tr>
									<th>
										床清掃
									</th>
									<td class="green">
										5,000円より / 1㎡
									</td>
									<td class="orange">
										&nbsp;
									</td>
								</tr>
								<tr>
									<th>
										石材クリーニング
									</th>
									<td class="green">
										5,000円より / 1㎡
									</td>
									<td class="orange text-12">
										※エフロ・水垢がひどい場合は別料金
									</td>
								</tr>
								<tr>
									<th>
										ステンレス・塗装面
									</th>
									<td class="green">
										5,000円より / 1㎡
									</td>
									<td class="orange text-12">
										&nbsp;
									</td>
								</tr>
								<tr>
									<th>
										墓石・石灯籠
									</th>
									<td class="green">
										15,000円より / 1基
									</td>
									<td class="orange text-12">
										&nbsp;
									</td>
								</tr>
							</tbody>
						</table>
						<p class="text-12 text-indent">
							※上記価格には、保護剤塗布も含まれております。
						</p>
						<p class="text-12 text-indent">
							※1年間の汚れ保障付きになります。
						</p>
						<p class="text-12 text-indent">
							※無料のデモンストレーションを行っております。
						</p>
						<p class="text-12 text-indent">
							※税抜価格です。
						</p>						
					</div>
				</div>
			</section>

			<section id="service05" class="mb-30 box-service box-section">
				<div class="clearfix row-service mb-20">
					<div class="pull-left left">
						<p>
							<img src="./img/common/img-service-05.jpg" alt="木材クリーニング">
						</p>
					</div>
					<div class="pull-left right">
						<h3 class="title-lined mb-10">
							<span>木材クリーニング</span>
						</h3>
						<p class="text-18 text-bold">
							復元清掃により資産価値を上げます！
						</p>
						<ul class="list-checked mb-10">
							<li>木材を傷める事なく美観を復元！</li>
							<li>保護剤により、美観を維持！</li>
							<li>寺社仏閣等の復元も承ります！</li>
						</ul>
						<p class="text-center">
							<a href="./case.html" class="btn-normal">
								<i class="fa fa-angle-right" aria-hidden="true"></i>クリーニング事例はこちら
							</a>
						</p>
					</div>
				</div>
				<div class="content">
					<p class="btn-service">
						詳しい料金表を見る <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
					</p>
					<div class="details-service">
						<h3 class="mb-10">
							コース別料金
						</h3>
						<table class="table-simple mb-10">
							<thead>
								<tr>
									<th>
										施工箇所
									</th>
									<th class="green">
										単価
									</th>
									<th class="orange">
										備考
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>
										外壁洗浄
									</th>
									<td class="green">
										5,000円より / 1㎡
									</td>
									<td class="orange">
										&nbsp;
									</td>
								</tr>
								<tr>
									<th>
										壁・クロス清掃
									</th>
									<td class="green">
										5,000円より / 1㎡
									</td>
									<td class="orange">
										&nbsp;
									</td>
								</tr>
								<tr>
									<th>
										木造冠門
									</th>
									<td class="green">
										50,000円より / 一式
									</td>
									<td class="orange">
										&nbsp;
									</td>
								</tr>
								<tr>
									<th>
										風呂（ユニット）
									</th>
									<td class="green">
										40,000円より / 一式
									</td>
									<td class="orange">
										&nbsp;
									</td>
								</tr>
								<tr>
									<th>
										風呂（大衆浴場）
									</th>
									<td class="green">
										5,000円より / 1㎡
									</td>
									<td class="orange">
										&nbsp;
									</td>
								</tr>
								<tr>
									<th>
										木材清掃
									</th>
									<td class="green">
										5,000円より / 1㎡
									</td>
									<td class="orange">
										&nbsp;
									</td>
								</tr>
								<tr>
									<th>
										床清掃
									</th>
									<td class="green">
										5,000円より / 1㎡
									</td>
									<td class="orange">
										&nbsp;
									</td>
								</tr>
								<tr>
									<th>
										石材クリーニング
									</th>
									<td class="green">
										5,000円より / 1㎡
									</td>
									<td class="orange text-12">
										※エフロ・水垢がひどい場合は別料金
									</td>
								</tr>
								<tr>
									<th>
										ステンレス・塗装面
									</th>
									<td class="green">
										5,000円より / 1㎡
									</td>
									<td class="orange text-12">
										&nbsp;
									</td>
								</tr>
								<tr>
									<th>
										墓石・石灯籠
									</th>
									<td class="green">
										15,000円より / 1基
									</td>
									<td class="orange text-12">
										&nbsp;
									</td>
								</tr>
							</tbody>
						</table>
						<p class="text-12 text-indent">
							※上記価格には、保護剤塗布も含まれております。
						</p>
						<p class="text-12 text-indent">
							※1年間の汚れ保障付きになります。
						</p>
						<p class="text-12 text-indent">
							※無料のデモンストレーションを行っております。
						</p>
						<p class="text-12 text-indent mb-30">
							※税抜価格です。
						</p>
						<div class="box-details">
							<p class="mb-10">
								<img src="./img/common/text-details.png" alt="法人・団体様からのご依頼もお待ちしております!">
							</p>
							<p>
								営業時間外の夜間にクリーニングし、翌日から使用可能です。
							</p>
						</div>
						
					</div>
				</div>
			</section>

			<section id="service06" class="mb-30 box-service box-section">
				<div class="clearfix row-service mb-20">
					<div class="pull-left left">
						<p>
							<img src="./img/common/img-service-06.jpg" alt="カビ根絶">
						</p>
					</div>
					<div class="pull-left right">
						<h3 class="title-lined mb-10">
							<span>カビ根絶</span>
						</h3>
						<p class="text-18 text-bold">
							汚れを根元から分解して防菌・防カビ・防水効果！
						</p>
						<ul class="list-checked mb-10">
							<li>頑固なカビ・水垢・エフロ等も除去！</li>
							<li>ローコストでスピーディー！</li>
							<li>落とすだけではなく、防カビ（保護）効果で美観継続！</li>
						</ul>
						<p class="text-center">
							<a href="./case.html" class="btn-normal">
								<i class="fa fa-angle-right" aria-hidden="true"></i>クリーニング事例はこちら
							</a>
						</p>
					</div>
				</div>
				<div class="content">
					<p class="btn-service">
						詳しい料金表を見る <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
					</p>
					<div class="details-service">
						<div class="box-details">
							<div class="contact">
								<p class="text-center mb-10">
									カビ根絶のクリーニングに関しまして、状態や素材によって施工方法が異なります。<br>
									まずは無料でデモンストレーションを行い、お見積りとなりますのでまずはお問い合わせください
								</p>
								<a href="./contact.html" class="pink btn-normal">
									<i class="fa fa-angle-right" aria-hidden="true"></i>お問合せフォームはこちら
								</a>
							</div>
						</div>						
					</div>
				</div>
			</section>

			<section id="service07" class="mb-30 box-service box-section">
				<div class="clearfix row-service mb-20">
					<div class="pull-left left">
						<p>
							<img src="./img/common/img-service-07.jpg" alt="ビル・マンション清掃 / ハウスクリーニング">
						</p>
					</div>
					<div class="pull-left right">
						<h3 class="title-lined mb-10">
							<span>ビル・マンション清掃 / ハウスクリーニング</span>
						</h3>
						<p class="text-18 text-bold mb-10">
							ビル・マンションの清掃からハウスクリーニングまで！
							<br>
							<span class="text-pink">スポット清掃、定期清掃お受け致します！</span>
						</p>
						<ul class="list-checked mb-20">
							<li>ビル、マンションなどの現状に不満がある・・・
							</li>
							<li>エアコン、お風呂廻り、キッチン廻りキレイに清掃致します！
							</li>
							<li>
								引っ越し前後のクリーニングもお任せ下さい！<br>
								アパート経営の方も是非ご相談く下さい！
							</li>
						</ul>
						<p class="text-center">
							<a href="./case.html" class="btn-normal">
								<i class="fa fa-angle-right" aria-hidden="true"></i>クリーニング事例はこちら
							</a>
						</p>
					</div>
				</div>
				<div class="content">
					<p class="btn-service">
						詳しい料金表を見る <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
					</p>
					<div class="details-service">
						<h3 class="mb-10">
							コース別料金
						</h3>
						<table class="table-simple mb-10">
							<thead>
								<tr>
									<th>
										サービス内容
									</th>
									<th class="green">
										単価
									</th>
									<th class="orange">
										備考
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>
										フロアクリーニング
									</th>
									<td class="green">
										20,000円より
									</td>
									<td class="orange">
										&nbsp;
									</td>
								</tr>
								<tr>
									<th>
										ハウスクリーニング
									</th>
									<td class="green">
										3LDK：62,000円より<br>
										水廻り：35,000円より
									</td>
									<td class="orange">
										&nbsp;
									</td>
								</tr>
								<tr>
									<th>
										布団の丸洗い
									</th>
									<td class="green">
										綿掛布団(シングル)：1枚3,000円<br>
										羽毛掛布団(シングル)：1枚6,000円
									</td>
									<td class="orange">
										※お引き取り、配達致します。（配送料無料）<br>
										※埼玉県内のみのお取扱いとなります。
									</td>
								</tr>
								<tr>
									<th>
										水廻りクリーニング
									</th>
									<td class="green">
										37,000円より
									</td>
									<td class="orange">
										&nbsp;
									</td>
								</tr>
								<tr>
									<th>
										キッチンクリーニング
									</th>
									<td class="green">
										25,000円より
									</td>
									<td class="orange">
										&nbsp;
									</td>
								</tr>
								<tr>
									<th>
										バスクリーニング(浴室・洗面所)
									</th>
									<td class="green">
										15,000円より
									</td>
									<td class="orange">
										&nbsp;
									</td>
								</tr>
								<tr>
									<th>
										トイレクリーニング
									</th>
									<td class="green">
										10,000円より
									</td>
									<td class="orange">
										&nbsp;
									</td>
								</tr>
								<tr>
									<th>
										換気扇(フード有り網フィルター付)
									</th>
									<td class="green">
										12,000円より
									</td>
									<td class="orange text-12">
										※エフロ・水垢がひどい場合は別料金
									</td>
								</tr>
								<tr>
									<th>
										ビル・マンション清掃
									</th>
									<td class="green">
										お問い合わせください
									</td>
									<td class="orange text-12">
										スポット・定期清掃有り
									</td>
								</tr>
							</tbody>
						</table>
						<p class="text-12 text-indent">
							※税抜価格です。
						</p>						
					</div>
				</div>
			</section>

			<section id="service08" class="mb-30 box-service box-section">
				<div class="clearfix row-service mb-20">
					<div class="pull-left left">
						<p>
							<img src="./img/common/img-service-08.jpg" alt="遺品整理">
						</p>
					</div>
					<div class="pull-left right">
						<h3 class="title-lined mb-10">
							<span>遺品整理</span>
						</h3>
						<p class="text-18 text-bold mb-10">
							心づくしの遺品整理･･･故人の想いを大切に…。<br>
							<span class="text-pink">マミィがお手伝い致します。</span>
						</p>
						<ul class="list-checked mb-20">
							<li>整理後のハウスクリーニングも承ります。</li>
							<li>大切な遺品を丁寧に整理させていただきます。</li>
							<li>家具の撤去やお焚き上げなど豊富な選べるオプション</li>
							<li>遺品整理協会認定の遺品整理士が常駐しております。</li>
						</ul>
						<p class="text-center">
							<a href="./case.html" class="btn-normal">
								<i class="fa fa-angle-right" aria-hidden="true"></i>クリーニング事例はこちら
							</a>
						</p>
					</div>
				</div>
				<div class="content">
					<p class="btn-service">
						詳しい料金表を見る <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
					</p>
					<div class="details-service">
						<div class="clearfix">
							<div class="pull-left harf">
								<h3 class="mb-10">
									サービス内容
								</h3>
								<table class="table-simple pink mb-10">
									<tbody>
										<tr>
											<th>基本</th>
											<td>
												生理・簡易清掃・ゴミ処理
											</td>
										</tr>
										<tr>
											<th>オプション</th>
											<td>
												お焚き上げ・お祓い、畳・家具などの撤去、ハウスクリーニング、消臭、形見の配送、リフォーム、リサイクル、その他
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="pull-left harf">
								<h3 class="mb-10">
									料金表（基本サービス）
								</h3>
								<table class="table-simple mb-10">
									<thead>
										<tr>
											<th>
												間取り
											</th>
											<th class="green">
												人数
											</th>
											<th class="orange">
												価格（税別）
											</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th>
												1K
											</th>
											<td class="green">
												1名
											</td>
											<td class="orange">
												35,000円より
											</td>
										</tr>
										<tr>
											<th>
												1DK
											</th>
											<td class="green">
												2名
											</td>
											<td class="orange">
												60,000円より
											</td>
										</tr>
										<tr>
											<th>
												1LDK
											</th>
											<td class="green">
												3名
											</td>
											<td class="orange">
												80,000円より
											</td>
										</tr>
										<tr>
											<th>
												2DK
											</th>
											<td class="green">
												3名
											</td>
											<td class="orange">
												120,000円より
											</td>
										</tr>
										<tr>
											<th>
												2LDK
											</th>
											<td class="green">
												4名
											</td>
											<td class="orange">
												150,000円より
											</td>
										</tr>
										<tr>
											<th>
												3LDK
											</th>
											<td class="green">
												5名
											</td>
											<td class="orange">
												200,000円より
											</td>
										</tr>
										<tr>
											<th>
												4LDK
											</th>
											<td class="green">
												5名
											</td>
											<td class="orange">
												230,000円より
											</td>
										</tr>
										<tr>
											<th>
												オプション
											</th>
											<td colspan="2">
												当社規定価格または実費
											</td>
										</tr>

									</tbody>
								</table>
								<p class="text-12 text-indent">
									※税抜価格です。
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="service09" class="box-service box-section">
				<div class="clearfix row-service mb-20">
					<div class="pull-left left">
						<p>
							<img src="./img/common/img-service-09.jpg" alt="エアコンクリーニング">
						</p>
					</div>
					<div class="pull-left right">
						<h3 class="title-lined mb-10">
							<span>エアコンクリーニング</span>
						</h3>
						<p class="text-18 text-bold mb-20">
							ビルやマンション、住宅、店舗などあらゆるエアコンの清掃に対応しております。<br>
							プロのエアコンクリーニングは中の中までスッキリ洗浄！<br>
							<span class="text-pink">快適な空間</span>をつくります。
						</p>
						<p class="text-center">
							<a href="./case.html" class="btn-normal">
								<i class="fa fa-angle-right" aria-hidden="true"></i>クリーニング事例はこちら
							</a>
						</p>
					</div>
				</div>
				<div class="content">
					<p class="btn-service">
						詳しい料金表を見る <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
					</p>
					<div class="details-service">
						<div class="clearfix">
							<div class="pull-left harf">
								<p class="mb-10">
									２台目以降割引あり
								</p>
								<table class="table-simple pink mb-10">
									<tbody>
										<tr>
											<th rowspan="2">
												除菌・消臭施工付き<br>
												エアコンクリーニング
											</th>
											<td>
												１台目
											</td>
											<td>
												10,000円
											</td>
										</tr>
										<tr>
											<td>
												2台目以降
											</td>
											<td>
												8,000円
											</td>
										</tr>
										<tr>
											<th rowspan="2">
												お掃除エアコン
											</th>
											<td>
												１台目
											</td>
											<td>
												18,000円
											</td>
										</tr>
										<tr>
											<td>
												2台目
											</td>
											<td>
												6,000円
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="pull-left harf">
								<h3 class="mb-10">
									エアコンクリーニング
								</h3>
								<p class="mb-10 text-bold">
									業務用エアコンから一般家庭のエアコンまで。<br>
									あらゆるエアコンの清掃に対応致します。
								</p>
								<table class="table-simple mb-10">
									<tbody>
										<tr>
											<th class="orange">
												エアコンクリーニング（大）
											</th>
											<td class="orange">
												28,000円より
											</td>
										</tr>
										<tr>
											<th class="green">
												エアコンクリーニング（小）
											</th>
											<td class="green">
												10,000円より
											</td>
										</tr>

									</tbody>
								</table>
								<p class="text-12 text-indent">
									※税抜価格です。
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>

		</div>
	</div>
</main>
<% include common/_footer %>