.mb-none{
	margin-bottom: 0;
}
.mb-5{
	margin-bottom: 5px !important;
}
.mb-10{
	margin-bottom: 10px !important;
}
.mb-20{
	margin-bottom: 20px !important;
}
.mb-30{
	margin-bottom: 30px !important;
}
.mb-40{
	margin-bottom: 40px !important;
}
.mb-50{
	margin-bottom: 50px !important;
}
.mb-60{
	margin-bottom: 60px !important;
}
.pad-sm{
	padding: 10px !important;
}
.pad-md{
	padding: 20px !important;
}
.section-sm{
	padding: 40px 0 !important;
}
.section-md{
	padding: 50px 0 !important;
}
.section-lg{
	padding: 60px 0 !important;
}
.section-xl{
	padding: 70px 0 !important;
}