@charset "utf-8";
$main-width: 1020px;
$font-col: #333;
$col-pink: #ff73a2;
$col-brown: #524110;

@import "core/*";
@import "modules/*";
@import "settings/*";

* {
  box-sizing: border-box;
}
html,
body {
  font-family:  Lato, "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 10px;
  line-height: (27/15);
  color: $font-col;
  -webkit-text-size-adjust: 100%;
  letter-spacing: 0.05em;
}
body {
  color: $font-col;
}
a {
  color: $font-col;
  text-decoration: none;
  cursor: pointer;
  &:hover,
  &:active,
  &:focus {
    color: $font-col;
    text-decoration: none;
  }
}
h1,h2,h3,h4,h5,h6,p,ul,ol,li{
  margin: 0;
}
img{
  vertical-align: bottom;
}
.header,
main,
.footer {
  @include fontsize(15);
}
.img-btn{
  display: block;
  &:hover{
    opacity: .7;
  }
}

/**************
header
**************/
.header{
  padding-bottom: 18px;
  .top-header{
    margin-bottom: 10px;
  }
  .left-header{
    padding-top: 10px;
    vertical-align: middle;
    .logo-header{
      padding-top: 33px;
      margin-right: 16px;
    }
    .logo{
      padding-top: 2px;
      margin-right: 8px;
    }
    .banner{
      padding-top: 23px;
      margin-left: 10px;
    }
  }
  .right-header{
    padding-top: 30px;
    padding-bottom: 20px;
    .deco-tel-header{
    }
    .num-tel-header{
      margin-top: 2px;
      span{
        display: inline-block;
        vertical-align: middle;
      }
      i{
        @include fontsize(45);
        vertical-align: middle;
        margin-right: 3px;
      }
    }
    .deco-tel-header{
      line-height: 1;
      img{
        vertical-align: middle;
      }
    }
  }
}
.g-nav{
  ul{
    padding: 0;
    list-style: none;
    li{
      display: block;
      height: 42px;
      padding-right: 57px;
      &.use-second{
        position: relative;
        ul.nav-second {
          position: absolute;
          visibility: hidden;
          list-style: none;
          border-radius: 5px;
          box-shadow: 1px 1px 3px rgba(0,0,0,0.1),-1px -1px 3px rgba(0,0,0,0.1);
          padding: 0;
          background-color: #fff;
          opacity: 0;
          z-index: 1;
          top: 10px;
          //width: 100%;
          -webkit-transition: all .2s ease;
          transition: all .2s ease;
          li{
            padding: 0;
            a{
              display: block;
              padding-top: 10px;
              padding-bottom: 10px;
              border-top: 2px dotted #ddd;
              padding-left: 20px;
              padding-right: 10px;
              position: relative;
              background: none;
              text-indent: 0;
              font-weight: bold;
              &::after{
                position: absolute;
                font-family: FontAwesome;
                display: block;
                width: 20px;
                height: 20px;
                content:'\f105';
                left: 8px;
                top: 6px;
                @include fontsize(18);
                color: $col-pink;
              }
              &:hover{
                color: $col-pink;
              }
            }
            &:first-child{
              a{
                border: none;
              }
            }
          }
        }
        &:hover ul.nav-second {
          top: 40px;
          visibility: visible;
          opacity: 1;
        }
      }
      &.nav-01{
        width: 227px;
        a{
          &:hover,&.active{
            background-position: 0 -43px;
          }
        }
      }
      &.nav-02{
        width: 157px;
        a{
          background-position: -227px 0;
          &:hover,&.active{
            background-position: -227px -43px;
          }
        }
      }
      &.nav-03{
        width: 229px;
        a{
          background-position: -384px 0;
          &:hover,&.active{
            background-position: -384px -43px;
          }
        }
      }
      &.nav-04{
        width: 145px;
        a{
          background-position: -613px 0;
          &:hover,&.active{
            background-position: -613px -43px;
          }
        }
      }
      &.nav-05{
        width: 145px;
        a{
          background-position: -756px 0;
          &:hover,&.active{
            background-position: -756px -43px;
          }
        }
      }
      &.nav-06{
        width: 117px;
        padding-right: 0;
        a{
          background-position: -903px 0;
          &:hover,&.active{
            background-position: -903px -43px;
          }
        }
      }
      a{
        display: block;
        width: 100%;
        height: 100%;
        @include text-replace();
        background-image: url("../img/common/text-nav.png");
        background-repeat: no-repeat;
      }
    }
  }
}
/**************
footer
**************/
.footer{
  border-top: 1px solid $col-pink;
  padding-top: 28px;
  .tel{
    margin-right: 15px;
  }
  .fa-phone{
    @include fontsize(31);
  }
  .fa-fax{
    @include fontsize(27);
  }
  .num{
    line-height: 1;
    i,span{
      display: inline-block;
      vertical-align: middle;
    }
  }
  .bottom-footer{
    background-color: $col-pink;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 20px;
    color: #fff;
  }
  .nav-footer{
    ul{
      margin: 0;
      padding: 0;
      list-style: none;
      display: table;
      width: 100%;
      li{
        display: table-cell;
        a{
          color: #fff;
          @include fontsize(13);
          padding-left: 15px;
          padding-right: 10px;
          background-image: url("../img/common/icon-nav-footer.png");
          background-repeat: no-repeat;
          &:hover{
            color: #fff;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
/**************
 共通クラス
**************/
.harf{
  width: 50%;
}
.text-pink{
  color: $col-pink;
}
.bg-stripe-pink{
  background-image: url("../img/common/bg-stripe-pink.jpg");
}
.bg-stripe-bio{
  background-image: url("../img/common/bg-stripe-bio.jpg");
}
.bg-stripe-blue{
  background-image: url("../img/common/bg-stripe-blue.jpg");
}
.bg-yellow{
  background-color: #fef8e7;
}
.btn-big{
  display: inline-block;
  border: none;
  width: 370px;
  height: 55px;
  line-height: 55px;
  border-radius: 30px;
  background-color: $col-brown;
  color: #fff;
  @include fontsize(18);
  i{
    @include fontsize(20);
    margin-right: 10px;
  }
  &:hover{
    opacity: .8;
    color: #fff;
  }
}
.btn-min{
  display: inline-block;
  width: 180px;
  height: 25px;
  line-height: 25px;
  border-radius: 13px;
  background-color: $col-brown;
  text-align: center;
  color: #fff;
  @include fontsize(15);
  i{
    margin-right: 10px;
  }
  &:hover{
    opacity: .8;
    color: #fff;
  }
}
.btn-normal{
  display: inline-block;
  width: 310px;
  height: 41px;
  line-height: 41px;
  border-radius: 21px;
  background-color: $col-brown;
  text-align: center;
  color: #fff;
  @include fontsize(15);
  i{
    margin-right: 10px;
  }
  &:hover{
    opacity: .8;
    color: #fff;
  }
  &.pink{
    background-color: $col-pink;
  }
}
.btn-res{
  display: inline-block;
  width: 100%;
  height: 41px;
  line-height: 41px;
  border-radius: 21px;
  background-color: $col-brown;
  text-align: center;
  color: #fff;
  @include fontsize(15);
  i{
    margin-right: 10px;
  }
  &:hover{
    opacity: .8;
    color: #fff;
  }
}
.title-lined{
  @include fontsize(24);
  font-weight: bold;
  padding-bottom: 0;
  border-bottom: 3px solid #f3f3f3;
  line-height: 1;
  span{
    position: relative;
    padding-right: 10px;
    padding-bottom: 10px;
    display: inline-block;
    &::after {
      position: absolute;
      bottom: -2px;
      left: 0;
      z-index: 2;
      content: '';
      width: 100%;
      height: 2px;
      background-color: $col-pink;
    }
  }
  &.bio{
    span{
      &::after{
        background-color: #a463b0;
      }
    }
  }
}
.text-red{
  color: #de1e4c;
}
/**************
topページ
**************/
.bg-mv{
  background-color: #fff9fb;
}
.main-visual{
  width: 1020px;
  margin: 0 auto;
  text-align: center;
  .slick-dots {
    bottom: 10px;
    li{
      &.slick-active{
        button{
          &:before{
            color: $col-pink;
          }
        }
      }
      button{
        &:before{
          color: #fff;
          opacity: 1;
        }
      }
    }
  }
  .slick-prev:before, .slick-next:before{
    font-family: FontAwesome;
    color: $col-pink;
    @include fontsize(60);
  }
  .slick-next:before{
    content:'\f105';
  }
  .slick-prev:before{
    content:'\f104';
  }
}
.section-top-01{
  padding-top: 10px;
  padding-bottom: 30px;
}
.box-top-01{
  padding: 30px;
  margin-bottom: 25px;
  display: block;
  &:hover{
    opacity: .7;
  }
  &.left{
    background-color: #f6e5f7;
    color: #8b4099;
    .title{
      background-image: url("../img/common/border-top-01-left.png");
    }
  }
  &.right{
    background-color: #cee9fc;
    color: #0971bb;
    .title{
      background-image: url("../img/common/border-top-01-right.png");
    }
  }
  .title{
    @include fontsize(30);
    margin-bottom: 20px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    padding-bottom: 25px;
    background-position: left bottom;
    background-repeat: no-repeat;
  }
}
.section-top-02{
  padding-top: 60px;
  padding-bottom: 80px;
  h1{
    padding-bottom: 40px;
  }
  .bg-wrapper{
    position: relative;
    .left{
      position: absolute;
      bottom: 0;
      padding-bottom: 5px;
    }
    .right{
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  .box-top-02{
    width: 320px;
    &.catless{
      padding-top: 40px;
    }
    &.min{
      width: 240px;
      .content{
        &:hover{
          .text{
            .inner{
              height: 160px;
            }
          }
        }
        .text{
          padding: 20px;
          .inner{
            height: 60px;
          }
          .title{
            @include fontsize(16);
          }
        }
      }
    }
    &.ml-30{
      margin-left: 30px;
    }
    &.ml-20{
      margin-left: 20px;
    }
    .cat{
      text-align: center;
      @include fontsize(16);
      font-weight: bold;
      line-height: 1;
      padding-top: 12px;
      padding-bottom: 12px;
      border-radius: 10px 10px 0 0;
      &.chem{
        background-color: #f6e5f7;
        color: #a463b0;
      }
      &.mos{
        background-color: #cee9fc;
        color: #0971bb;
      }
    }
    .content{
      position: relative;
      display: block;
      width: 100%;
      background-color: #524110;
      .text{
        position: absolute;
        display: table;
        width: 100%;
        left: 0;
        top: 0;
        color: #fff;
        text-align: center;
        //padding: 40px;
        -webkit-transition: padding .4s;
        transition: padding .4s;
        .inner{
          display: table-cell;
          width: 100%;
          height: 300px;
          vertical-align: middle;
          padding: 8px;
          -webkit-transition: height .4s;
          transition: height .4s;
          &.md{
            height: 340px;
          }
          &.lg{
            height: 360px;
          }
        }
        .title{
          @include fontsize(21);
          font-weight: bold;
          margin-bottom: 10px;
          line-height: 1;
          -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
          //-webkit-transform: translate3d(0,280%,0);
          //transform: translate3d(0,280%,0);
        }
        .detail{
          @include fontsize(13);
          opacity: 0;
          -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
          transition: opacity 0.4s, transform 0.4s;
          -webkit-transform: scale(0);
          transform: scale(0);
          &.text-12{
            @include fontsize(12);
          }
        }
      }
      img{
        opacity: 0.7;
        -webkit-transition: opacity .4s;
        -moz-transition: opacity .4s;
        -ms-transition: opacity .4s;
        -o-transition: opacity .4s;
        transition: opacity .4s;
      }
      &:hover{
        img{
          opacity: .4;
        }
        .text{
          padding: 10px;
        }
        .inner{
          height: 220px;
          border: 1px solid #fff;
          &.md,&.lg{
            height: 220px;
          }
        }
        .title{
          //-webkit-transform: translate3d(0,0,0);
          //transform: translate3d(0,0,0);
        }
        .detail{
          opacity: 1;
          -webkit-transform: scale(1);
          transform: scale(1);
        }
      }
    }
  }
}
.section-top-03{
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url(../img/common/bg-top-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  .text{
    width: 610px;
    color: #fff;
    @include text-glow(#2395c9,5px);
  }
  .section-inner{
    position: relative;
    z-index: 1;
    .bg{
      position: absolute;
      left: 640px;
      top: -120px;
      z-index: -1;
    }
  }
  .btn-top-03{
    display: block;
    margin-right: 20px;
    width: 345px;
    height: 55px;
    line-height: 55px;
    background-image: url("../img/common/btn-top-03.png");
    background-repeat: no-repeat;
    text-align: center;
    i{
      margin-right: 5px;
      @include fontsize(20);
    }
    i,img{
      vertical-align: middle;
    }
  }
}
.img-thumbs{
  display: block;
  width: 100%;
  height: 0;
  padding-top: 75%;
  background-position: center center;
  background-size: cover;
}
.box-case-top{
  width: 310px;
  margin-left: 44px;
  float: left;
  margin-bottom: 30px;
  &:first-child{
    margin-left: 0;
  }
  &:nth-child(3n+1){
    margin-left: 0;
  }
  .img-thumbs{
    &:hover{
      opacity: .7;
    }
  }
  .text-cat{
    font-weight: bold;
    color: $col-pink;
    @include fontsize(17);
    text-align: center;
    margin-bottom: 5px;
  }
  .text-item{
    border-bottom: 1px dotted #c4c4c4;
    padding-bottom: 5px;
    margin-bottom: 5px;
    text-align: center;
  }
}
.section-sale{
  .title{
    margin-top: -100px;
  }
}
.box-sale{
  float: left;
  width: 310px;
  margin-left: 35px;
  &:first-child{
    margin-left: 0;
  }
  .price-01{
    color: $col-pink;
  }
  .price-02{
    color: #f89508;
  }
  .price-03{
    color: #4da05e;
  }
  .text{
    padding-left: 5px;
    padding-right: 5px;
  }
}
.title-blog{
  padding-bottom: 10px;
  background-image: url("../img/common/border-blog.png");
  background-repeat: repeat-x;
  background-position: left bottom;
}

/*************
*下層ページ
**************/
.pagetitle{
  background-color: $col-pink;
  border-top: 5px solid #ffd3e2;
  p{
    line-height: 110px;
    text-align: center;
    img{
      vertical-align: middle;
    }
  }
}
.bg-about-01{
  background-image: 
  url("../img/common/bg-about-01-left.png"), 
  url("../img/common/bg-about-01-right.png");
  background-position:
  left center, right bottom;
  background-repeat: 
  no-repeat, no-repeat;
}
.box-section{
  padding: 30px;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  box-shadow: 0 0 5px rgba(0,0,0,.1);
  border-radius: 3px;
}
.title-about-02{
  margin-top: -60px;
}
.section-about{
  &.bb{
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 2px solid #f3f3f3;
  }
  .left{
    margin-right: 28px;
  }
  .text{
    width: 540px;
  }
  .img{
    width: 389px;
  }
}
.btn-faq{
  cursor: pointer;
  position: relative;
  @include fontsize(16);
  height: 60px;
  line-height: 60px;
  border-radius: 30px;
  padding-left: 30px;
  background-color: #fff;
  font-weight: bold;
  &:hover{
    background-color: #ffe9f2;
  }
  .img{
    display: inline-block;
    margin-right: 10px;
    img{
      vertical-align: middle;
    }
  }
  &::before{
    position: absolute;
    right: 30px;
    display: block;
    width: 20px;
    height: 20px;
    content:'\f078';
    color: #ccc;
    font-family: FontAwesome;
    @include fontsize(20);
  }
  &.open{
    background-color: $col-pink;
    &::before{
      content:'\f077';
      color: #fff;
    }
  }
}
.section-faq{
  .content-faq{
    display: none;
    background-color: #fff;
    border: 1px solid #f3f3f3;
    margin-top: 10px;
    border-radius: 10px;
    padding: 20px;
    padding-left: 30px;
    .answer-faq{
      background-image: url("../img/common/icon-answer.png");
      background-repeat: no-repeat;
      background-position: left top;
      padding-left: 40px;
      padding-bottom: 10px;
    }
  }
}
.bg-chemdry{
  background-position: center top;
  background-repeat: no-repeat;
  &.chemdry{
    background-image: url("../img/common/bg-chemdry.jpg");
  }
  &.mos{
    background-image: url("../img/common/bg-mos.jpg");
  }
}
.box-title-chemdry{
  padding-top: 80px;
  padding-bottom: 40px;
}
.section-chemdry{
  padding-bottom: 60px;
}
.table-chemdry{
  border: 2px solid #ddd;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 6px;
  width: 100%;
  .bio{
    color: #a463b0;
    background-color: #fdf7fe;
  }
  th{
    @include fontsize(16);
  }
  th,td{
    width: 260px;
  }
  thead th,tbody th,tbody td {
    padding: .6em 1em;
    border-bottom: 1px solid #ccc;
  }
  thead th {
    &:first-child{
      background-color: #a463b0;
      width: 174px;
    }
  }
  tbody th {
    background-color: #a463b0;
    color: #fff;
    width: 174px;
  }
  thead th + th,
  tbody td {
    border-left: 1px solid #ccc;
  }
  tbody tr:last-child th,
  tbody tr:last-child td {
    border-bottom: none;
  }
  thead tr:first-child th:first-child {
    border-radius: 5px 0 0 0;
  }
  thead tr:first-child th:last-child {
    border-radius: 0 5px 0 0;
  }
  tbody tr:last-child th:first-child {
    border-radius: 0 0 0 5px;
  }
  tbody tr:last-child th:last-child {
    border-radius: 0 0 5px 0;
  }
}
.table-chemdry-02{
  th,td{
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
  }
  td{
    padding-left: 30px;
  }
}
.col-mos{
  width: 33%;
  padding: 0 10px;
}
.col-mos-2{
  margin-left: 100px;
}
.cont{
  width: 760px;
  margin-left: 30px;
}
.side{
  width: 230px;
  .list-side{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
      margin-bottom: 10px;
      display: table;
      width: 100%;
      position: relative;
      &::before{
        position: absolute;
        left: 5px;
        top: 50%;
        margin-top: -14px;
        display: block;
        width: 16px;
        height: 16px;
        content:'\f138';
        color: #fff;
        font-family: FontAwesome;
        @include fontsize(16);
        z-index: 9;
      }
      a{
        display: table-cell;
        vertical-align: middle;
        height: 60px;
        background-color: $col-pink;
        border-radius: 5px;
        padding: 10px;
        padding-left: 1.6em;
        @include fontsize(14);
        font-weight: bold;
        color: #fff;
        line-height: 1.2;
        &:hover{
          opacity: .7;
        }
      }
    }
  }
}
.box-entry{
  header{
    h1{
      @include fontsize(24);
      font-weight: bold;
      border-bottom: 3px solid #f3f3f3;
      margin-bottom: 20px;
    }
  }
}
.box-cases{
  padding: 0;
  padding-bottom: 40px;
  .header-cases{
    background-color: #fef8e7;
    padding: 20px 30px;
    h1{
      @include fontsize(24);
      font-weight: bold;
      line-height: 1.5;
    }
  }
  .content-cases{
    padding: 30px;
    p{
      margin-bottom: 1em;
    }
  }
  .list-cases{
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #f3f3f3;
    h3{
      margin-left: -30px;
      border-left: 5px solid #ccc;
      padding-left: 25px;
      @include fontsize(18);
      font-weight: bold;
      margin-bottom: 10px;
    }
    .left{
      width: 260px;
      img{
        max-width: 100%;
        height: auto;
      }
    }
    .right{
      margin-left: 20px;
      width: 410px;
    }
  }
}
.paging {
  display: inline-block;
  padding-left: 0;
  margin: 0;
  &>span {
    display: inline-block;
    border-radius: 3px;
    overflow: hidden;
    margin: 2px;
    width: 40px;
    height: 40px;
    background-color: #ddd;
    color: #fff;
    text-decoration: none;
    background-color: #ddd;
    text-align: center;
    font-size: 15px;
    line-height: 40px;
    a {
      display: block;
      width: 100%;
      height: 100%;
      color: #fff
    }
    a:hover {
      background-color: $col-pink;
    }
    &.current {
      cursor: default;
      background-color: $col-pink;
    }
  }
}

.block-gallery-main {
  .img-gallery-main {
    margin-bottom: 0;
    .img-main{
      display: block;
      width: 100%;
      height: 0;
      padding-top: 66%;
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .text-gallery-main {
    padding: 10px;
    background-color: #fff;
  }
}
.thumbs-gallery {
  ul {
    padding-left: 0;
    list-style: none;
    li {
      display: block;
      padding-left: 10px;
      padding-right: 0px;
      cursor: pointer;
      float: left;
      width: 25%;
      padding: 0 5px 5px 5px;
      p {
        margin-bottom: 0;
        position: relative;
        width: 100%;
        span{
          border: 2px solid #ddd;
        }
      }
      &.active {
        p {
          span {
            border: 2px solid $col-pink;
          }
        }
      }
    }
  }
}
.img-thumbs {
  display: block;
  width: 100%;
  height: 0;
  padding-top: 66%;
  background-position: center center;
  background-size: cover;
  margin-bottom: 10px;
}
.minsection-entry{
  h3{
    margin-left: -30px;
    @include fontsize(16);
    font-weight: bold;
    color: $col-brown;
    background-color: #fef8e7;
    display: inline-block;
    padding: 5px 20px;
    padding-left: 30px;
    margin-bottom: 10px;
    border-radius: 0 20px 20px 0;
  }
}
.text-main{
  background-color: #f3f3f3;
  padding: 10px;
}
.btns-service{
  text-align: center;
  .img-btn{
    display: inline-block;
    padding: 0 6px;
  }
}
.box-service{
  padding-bottom: 0;
  .row-service{
    .left{
      width: 400px;
    }
    .right{
      margin-left: 30px;
      width: 527px;
    }
  }
}
.list-checked{
  padding: 0;
  margin: 0;
  list-style: none;
  li{
    margin-bottom: 10px;
    line-height: 1.2;
    position: relative;
    padding-left: 1.5em;
    &::before{
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 20px;
      height: 20px;
      content:'\f046';
      color: $col-pink;
      font-family: FontAwesome;
    }
  }
}
.btn-service{
  background-color: #e59a30;
  color: #fff;
  @include fontsize(18);
  font-weight: bold;
  text-align: center;
  margin-left: -30px;
  margin-right: -30px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  &:hover{
    background-color: #f6cc90;
  }
}
.details-service{
  padding-top: 30px;
  padding-bottom: 30px;
  .harf{
    padding-right: 20px;
  }
  h3{
    @include fontsize(18);
    font-weight: bold;
    border-left: 5px solid $col-pink;
    padding-left: 10px;
  }
}
.table-simple{
  border-collapse: collapse;
  width: 100%;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  line-height: 1.4;
  @include fontsize(13);
  .text-center{
    text-align: center;
  }
  th,td{
    padding: 8px 10px;
    vertical-align: middle;
    border-right: 1px solid #ddd;
  }
  tr{
    border-bottom: 1px solid #ddd;
  }
  th{
    white-space: nowrap;
    width: 120px;
    background-color: #f6f6f6;
    text-align: left;
    &.wrap{
      white-space: normal;
    }
  }
  td{
    &.blank{
      background-color: #ddd;
    }
    a{
      color: $font-col;
      text-decoration: underline;
      &:hover{
        color: #999;
        text-decoration: none;
      }
    }
  }
  &.pink{
    th{
      background-color: #ffedf3;
    }
  }
  thead{
    .green{
      background-color: #c2f1d3;

    }
    .orange{
      background-color: #f8dbc5;
    }
    .red{
      background-color: #f2c4c4;
    }
    .blue{
      background-color: #b5caf7;
    }
  }
  tbody{
    .green{
      background-color: #eefcf3;
    }
    .orange{
      background-color: #fdf3e4;
    }
    .red{
      background-color: #fdf3f3;
    }
    .blue{
      background-color: #f1f5ff;
    }
  }
  .text-12{
    font-weight: normal;
  }
  &.course{
    @include fontsize(14);
    table-layout: fixed;
    th{
      white-space: normal;
    }
  }
  &.table-lg{
    @include fontsize(15);
    th,td{
      padding: 15px 20px;
    }
    th{
      width: 200px;
    }
  }
}
.box-details{
  border: 3px solid $col-pink;
  padding: 1em;
  text-align: center;
  width: 860px;
  margin: 0 auto;
  .contact{
    border: 2px dotted $col-pink;
    background-color: #f6f6f6;
    padding: 1em;
    border-radius: 5px;
  }
}
.section-greeting{
  .left{
    width: 180px;
  }
  .right{
    margin-left: 30px;
    width: 810px;
  }
}
.gmap{
  @include gmap-responsive();
}
.tel-contact{
  display: inline-block;
  i,span{
    display: inline-block;
    vertical-align: middle;
  }
  i{
    @include fontsize(40);
    margin-right: 5px;
  }
}
.time-contact{
  display: inline-block;
  margin-left: 20px;
}
.req-mark {
  display: inline-block;
  padding: 2px 5px;
  line-height: 1;
  color: #fff;
  @include fontsize(12);
  font-weight: normal;
  border-radius: 3px;
  background-color: #de1e4c;
}
.table-contact {
  border: none;
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
  vertical-align: middle;
  tr{
    border-bottom: 1px solid #f3f3f3;
  }
  td,
  th {
    padding: 10px;
    border-collapse: collapse;
    vertical-align: middle;
  }
  th {
    font-weight: bold;
    position: relative;
    width: 240px;
    text-align: left;
    padding-left: 20px;
    .req-mark {
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -9px;
    }
  }
  .box-inner-form{
    display: inline-block;
    margin-right: 20px;
  }
  .radio-inline{
    display: inline-block;
    margin-right: 20px;
    &.min{
      margin-right: 0;
    }
  }
  .radio-inline input {
    margin-right: 0.3em;
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: #ddd;
  }
  .form-control {
    width: 100%;
    border-radius: 0;
    padding: 10px;
    &.form-control-min{
      width: auto;
    }
  }
  textarea.form-control {
    line-height: 1.48;
    height: auto;
    border-color: #ddd;
    padding: 10px;
  }
}
.privacy-text {
  height: 200px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 10px;
  @include fontsize(12);
  p,
  h5 {
    margin: 0;
    margin-bottom: 5px;
    @include fontsize(12);
  }
}













